{% import '_macros/02_components/_assets' as assets %}
{% import '_macros/03_modules/_featured-card-with-cards' as featuredCardsWithCards %}

{# Intro #}
<section class="program-area-intro">
    <div class="program-area-intro__copy">
        {{ entry.textRichLink }}
    </div>
</section>

{% for section in builder.level(1).all() %}
    {% set sectionTitle = section.sectionAnchor.sectionBookmarkTitle|slugify %}
    {% set sectionBlocks = section.children.all() %}

    <section id="{{ sectionTitle }}">
        {# Section blocks #}
        {% for block in sectionBlocks %}
            {% if block.type == 'featuredStrategyAndCards' %}
                {% set configs  = {
                    'featuredCardConfig': {
                        'content': block,
                        'variant': 'feature',
                        'reversed': true
                    },
                    'cards': {
                        'cards': block,
                        'feature': block.flagFeature,
                        'action': block.cardAction
                    }
                } %}
                {{ featuredCardsWithCards.default(configs) }}
            {% endif %}
        {% endfor %}
    </section>
{% endfor %}