{% import '_macros/02_components/_assets' as assets %}
{% import '_macros/03_modules/_featured-card-with-grantees' as featuredCardsWithGrantees %}

{% for section in builder.level(1).all() %}
    {% set sectionTitle = section.sectionAnchor.sectionBookmarkTitle|slugify %}
    {% set sectionBlocks = section.children.all() %}

    <section id="{{ sectionTitle }}">
        {# Section blocks #}
        {% for block in sectionBlocks %}
            {% set configs  = {
                'featuredCardConfig': {
                    'content': block,
                    'variant': 'feature',
                    'reversed': true
                },
                'grantees': {
                    'grantees': block.entriesGrantee,
                    'feature': block.flagFeature,
                    'action': block.cardAction
                }
            } %}
            {% include "_partials/_modules/_featured-card-with-grantees.twig" with { config: configs } only %}
        {% endfor %}
    </section>
{% endfor %}