{% import '_macros/01_elements/_section-title' as sectionTitles %}
{% import '_macros/02_components/_assets' as assets %}

{% for section in builder.level(1).all() %}
    {% set sectionName = section.dividerSection.sectionName %}
    {% set displaySectionTitle = section.dividerSection.displayDivider %}
    {% set sectionBlocks = section.children %}

    <section id="{{ sectionName|slugify }}">
        {# Section title #}
        {% set sectionTitleAttributes = {
            level: 'h2',
            title: sectionName,
            variant: '', border: true
        } %}
        {% if displaySectionTitle == true %}
            {{ sectionTitles.sectionTitle(sectionTitleAttributes) }}
        {% endif %}

        {# Section blocks #}
        {% for sectionBlock in sectionBlocks %}
                
            {# Simplify component handling by leveraging naming conventions #}
            {% set camel   = sectionBlock.type %}
            {% set arr     = camel|dasherize|split('-') %}
            {# Set macro name, e.g. "card" #}
            {% set macro   = arr[0] %}
            {# Set macro variant name, e.g. "feature"  #}
            {% set variant = arr[1] %}
            {# Create config object, as needed #}
            {% set config  = {
                'content': sectionBlock,
                'variant': variant
            } %}
            {# Call the abstracted _module template, which then calls _macro template:
                _card, _carousel, _feed, _highlight, _text, or _timeline
            #}
            {% include "_partials/_modules/_#{macro}.twig" with { config: config } only %}

        {% endfor %}
    </section>
{% endfor %}