{% import '_macros/02_components/_assets' as assets %}

{# Uncomment as needed
{% import '_macros/01_elements/_actions' as actions %}
{% import '_macros/01_elements/_breadcrumb' as breadcrumbs %}
{% import '_macros/01_elements/_details' as details %}
{% import '_macros/01_elements/_section-title' as sectionTitles %}
#}

{% for i in builder.all() %}

{% switch i.type %}
    
    {% case 'sectionBlock' %}
        {% set sectionName = i.dividerSection.sectionName %}
        {% set innerBlocks = builder.level(2).all() %}
        <section>
            <h1 id="{{ sectionName|slugify }}">{{ sectionName }}</h1>

            {% for b in innerBlocks %}

            {# Simplify component handling #}
            {% set camel   = b.type %}
            {% set arr     = camel|dasherize|split('-') %}
            {# Set macro name, e.g. "card" #}
            {% set macro   = arr[0] %}
            {# Set macro variant name #}
            {% set variant = arr[1] %}
            {# Create config object, as needed #}
            {% set config  = {
                'content': b,
                'variant': variant
            } %}
            {# Call the abstracted _module template, which then calls _macro template:
                _card, _carousel, _feed, _highlight, _text, or _timeline
            #}
            {% include "_partials/_modules/_#{macro}.twig" with { config: config } only %}
            
            {% endfor %}

        </section>
    {% case 'prefooterForm' %}

    

{% endswitch %}

{% endfor %}