{% import '_macros/02_components/_assets' as assets %}
{% import '_macros/03_modules/_featured-card-with-grantees' as featuredCardsWithGrantees %}

{% for section in builder.all() %}

    {% switch section.type %}
    
        {% case 'sectionBlock' %}
            {% set sectionTitle = section.sectionAnchor.sectionBookmarkTitle|slugify %}
            {% set sectionBlocks = builder.level(2).all() %}

            <section id="{{ sectionTitle }}">
                {# Section blocks #}
                {% for block in sectionBlocks %}
                    {% set configs  = {
                        'featuredCardConfig': {
                            'content': block,
                            'variant': 'feature',
                            'reversed': true
                        },
                        'grantees': {
                            'grantees': block.entriesGrantee,
                            'feature': block.flagFeature,
                            'action': block.cardAction
                        }
                    } %}
                    {% include "_partials/_modules/_featured-card-with-grantees.twig" with { config: configs } only %}
                {% endfor %}
            </section>

        {% case 'prefooterForm' %}

    {% endswitch %}
{% endfor %}