{# _nav.twig #}

{% set navPrimary = craft.entries().section('header').one().navPrimary.all() %}
<nav id="nav" class="navPrimary">
    <a class="navPrimary-home" href="./">Home</a>
    <ul class="navPrimary-mega">
        {% for primary in navPrimary %}
            {% set primaryLabel  = primary.navLabel %}
            {% set primaryTarget = primary.navTarget %}
            <li class="navPrimary-mega-tab">
     
                <span class="navPrimary-mega-label">{{ primaryLabel }}</span>
                    
                {% set megaMenu = primary.navMenu.all() %}
                {% set description = primary.description %}
                <div class="navPrimary-mega-overlay">
                    <div class="navPrimary-description">
                        {{ description }}
                    </div>
                    <ul class="navPrimary-menu">
                    {% for item in megaMenu %}
                    {% set itemLabel = item.navTarget.text %}
                    {% set itemUrl = item.navTarget.url %}
                        <li class="navPrimary-menu-item">
                            <a href="{{ itemUrl }}">
                                {{ itemLabel }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>

            </li>
        {% endfor %}
    </ul>
    <div>Search</div>

</nav>