/* _modals.scss */
@use "../utils/_utils" as *;
@use "sass:math";
@use "sass:meta";

/* -------------------------------------------------------------------------------
    Pop-Up Structure
---------------------------------------------------------------------------------- */
@mixin popup($selector,$default:true,$colors...) {

	#{$selector} {
		font-size: 1rem;
        $transition-transform: transform 0.2s ease 0.2s;

        &-dialog {
            right: 0; 
            bottom: 0; 
            position: fixed;
            //overflow: hidden;
            display: flex; 
            z-index: 20;
            opacity: 1;

            // hide
            &[aria-hidden="true"] {
                opacity: 0;
                z-index: -1;
            }
        }

        &-content {
            position: relative;
            z-index: 2; 
            // slide
            transform: translateY(0);
            transition: $transition-transform;

            #{$selector}-dialog[aria-hidden="true"] & {
                transform: translateY(100%);
            }

            &-wrapper {
                position: relative;
            }
        }

        &-trigger {
            @include resetButton;
            @include flexParent();
            @include alignItems(center);
            position: absolute;
            top: 1.5em;
            right: 1.2em;
            z-index: 1;
            font-size: 1rem;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: revert;
            }

            &-label,
            &-icon {
                pointer-events: none;
            }

            &-icon {
                height: 30px;
                width: 30px;
            }

        }
    
    }

    @if $default != false {
		@include popup--default($selector,$colors...);
	}

}

/* -------------------------------------------------------------------------------
 Pop-Up: Default Presentation
---------------------------------------------------------------------------------- */
@mixin popup--default($selector,$colors...) {

    $color-count: length($colors);
    // Define additional colors as needed
    $color-primary: if($color-count >= 1,nth($colors,1),null);
    $color-secondary: if($color-count >= 2,nth($colors,2),null);
    $color-tertiary: if($color-count >= 3,nth($colors,3),null);

	#{$selector} {  

        &-content {
            box-shadow: 0 0 30px rgba(#000,0.3);
        }

    }
}

/* ---------------------------------------------------------------------
  Modal Structure
------------------------------------------------------------------------ */
@mixin modal($selector,$default:true,$colors...) {

    #{$selector} {
		font-size: 1rem;
    
        &-dialog,
        &-overlay {
            height: 100%;
            width: 100%;
            top: 0; 
            right: 0; 
            bottom: 0; 
            left: 0; 
            position: fixed;
        }

        &-dialog {
            // enable scroll on small vw's
            overflow-y: scroll; 
            //////////////////////////////
            display: flex; 
            &[aria-hidden="true"] {
                display: none; 
            }
            z-index: 20;

            // default scroll on larger vw's
            @include breakpoint(md) {
                overflow: auto;
            }
            //////////////////////////////

        }

        &-content {
            margin: auto;
            height: 100%;
            width: 100%;
            position: relative;
            z-index: 2; 
        
            @include breakpoint(sm) {
                height: auto;
                max-width: 1440px;
            }

        }

        &-wrapper {
            $wrapper-height-md: 514px;
            $wrapper-height-lg: 572px;
            $wrapper-height-xl: 630px;
            position: relative;

            @include breakpoint(md) {
                @include flexParent();
                height: $wrapper-height-md;
                overflow: hidden;
            }   

            @include breakpoint(lg) {
                height: $wrapper-height-lg;
            }

            @include breakpoint(xl) {
                height: $wrapper-height-xl;
            }

        }

        &-trigger {
            $top: 1.5em;
            $right: 1.2em;
            @include resetButton;
            position: absolute;
            top: $top;
            right: $right;
            z-index: 1;
            font-size: 1rem;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: revert;
            }

            &-label,
            &-icon {
                pointer-events: none;
            }

        }


    }

    @if $default != false {
		@include modal--default($selector,$colors...);
	}

}

/* -------------------------------------------------------------------------------
 Modal: Default Presentation
---------------------------------------------------------------------------------- */
@mixin modal--default($selector,$colors...) {

    $color-count: length($colors);
    // Define additional colors as needed
    $color-primary: if($color-count >= 1,nth($colors,1),null);
    $color-secondary: if($color-count >= 2,nth($colors,2),null);
    $color-tertiary: if($color-count >= 3,nth($colors,3),null);

    $overlay-color: #000000;

	#{$selector} {  

        &-overlay {
            background-color: rgba($overlay-color,0.5);    
        }

        &-trigger {

            &-icon {
                $icon-height: 30px;
                $icon-width: 30px;

                display: inline-block;
                height: $icon-height;
                width: $icon-width;
            }

        }

    }
}

/* -------------------------------------------------------------------------------
 Modal: Firestarter Presentation
---------------------------------------------------------------------------------- */
@mixin modal--firestarter($selector,$colors...) {

    $color-count: length($colors);
    // Define additional colors as needed
    $color-primary: if($color-count >= 1,nth($colors,1),null);
    $color-secondary: if($color-count >= 2,nth($colors,2),null);
    $color-tertiary: if($color-count >= 3,nth($colors,3),null);

    $overlay-color: #000000;

	#{$selector} {  

        &-overlay {
            background-color: rgba($overlay-color,0.5);    
        }

        &-wrapper {
            width: 500px;
            background: #FFF;
            margin: 0 auto;
        }

        &-trigger {

            &-icon {
                $icon-height: 30px;
                $icon-width: 30px;

                display: inline-block;
                height: $icon-height;
                width: $icon-width;
            }

        }

    }
}
