/* _accordion.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Component: Accordion
  See templates/_macros/02_components/_accordion.twig for markup

  Variants: Default, Large, Small
------------------------------------------------------------------------ */

.accordion {
  --color-accordion-primary: var(--color-teal-100);
  --color-accordion-secondary: var(--color-teal-150);

  &[data-is-reversed="true"] {
    --color-accordion-primary: var(--color-teal-25);
  }

  // Layout
  display: grid;
  gap: 0 var(--base-5);

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr;
  }

  // Panel
  .accordion-panel {
    overflow: hidden;
  }

  // Trigger
  .accordion-panel__trigger {
    padding: var(--base-5) 0;
    position: relative;
    border-top: 1px solid var(--color-tertiary-grey-100);
    @include getType('h5-axiforma');
    color: var(--color-accordion-primary);
    transition: all var(--transition) ease-in;
    
    list-style: none;
    &::-webkit-details-marker{
      display: none;
    }

    // Indicator
    &::before,
    &::after {
      order: 2;
      content: '';
      top: calc(50% - 1px);
      right: 0;
      width: 1.25rem;
      height: 2px;
      display: block;
      position: absolute;
      background-color: var(--color-accordion-secondary);
      transition: all var(--transition) ease-in;
    }
    
    &::after {
      transform: rotate(90deg);
    }

    // Hover & Focus
    @media (hover: hover) {
      &:hover {
        color: var(--color-accordion-secondary);
        transition: all var(--transition-intermediate) ease-out;
      }
    }

    // Focus
    &:focus-visible {
      outline: var(--outline-width) solid var(--color-focus);
      outline-offset: var(--outline-offset);
      color: var(--color-accordion-secondary);
      transition: all var(--transition-intermediate) ease-out;
    }
  }

  // Indicator Animation
  .accordion-panel {
    &._is-open {
      .accordion-panel__trigger {
        &::after {
          transform: rotate(180deg);
          transition: all var(--transition) ease-out;
        }
      }
    }
  }


  // Body
  .accordion-panel__body {
    padding-bottom: var(--base-50px);

    > * {
      @include breakpoint(sm) {
        width: var(--col-10);
      }

      @include breakpoint(md) {
        width: var(--col-12);
      }
    }
  }


  // Variants
  // Large
  &[data-variant=large] {
    @include breakpoint(md) {
      grid-template-columns: 1fr;

      .accordion-panel__body {
        > * {
          width: var(--col-8);
        }
      }
    }

    @include breakpoint(lg) {
      grid-template-columns: 1fr 1fr;

      .accordion-panel__body {
        > * {
          width: var(--col-12);
        }
      }
      
    }

    .accordion-panel__trigger {
      padding: var(--base-10px) 0;
      @include getType('h3-axiforma');
    }
  }

  // Small
  &[data-variant=small] {
    .accordion-panel__trigger {
      padding: var(--base-10px) 0;
      @include getType('caption-axiforma');
    }
  }
}