/* _card.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Component: Card
  See templates/_macros/02_components/_accordion.twig for markup

  Variants: Featured
------------------------------------------------------------------------ */

// Theme
.cardItem.cardItem--feature {
  --color-card-background: var(--color-grey-25);
  --color-card-text--primary: var(--color-teal-100);
  --color-card-text--secondary: var(--color-grey-150);

  &[data-is-reversed=true] {
    --color-card-background: var(--color-teal-150);
    --color-card-text--primary: var(--color-teal-25);
    --color-card-text--secondary: var(--color-grey-25);
  }

  --card-min-height: 400px;
  @include breakpoint(lg) {
    --card-min-height: 480px;
  }
}

.cardItem.cardItem--grantee {
  --color-card-background: var(--color-grey-25);
  --color-card-text--primary: var(--color-teal-100);
  --color-card-text--secondary: var(--color-navy-100);
  --color-card-text--tertiary: var(--color-grey-150);
}
.cardItem.cardItem--bio {
  --color-card-background: var(--color-grey-25);
  --color-card-text--primary: var(--color-teal-100);
  --color-card-text--secondary: var(--color-grey-150);
}
.cardItem.cardItem--media {
  --color-card-background: var(--color-grey-25);
  --color-card-text--primary: var(--color-teal-100);
  --color-card-text--secondary: var(--color-grey-150);
}
.cardItem.cardItem--post {
  --color-card-background: var(--color-grey-25);
  --color-card-text--primary: var(--color-teal-100);
  --color-card-text--secondary: var(--color-navy-100);
  --color-card-text--tertiary: var(--color-grey-150);
  --color-card-text--quaternary: var(--color-navy-50);
}

[data-theme-color="green"] {
  .cardItem.cardItem--feature {
    --color-card-text--primary: var(--color-program-green-100);

    &[data-is-reversed=true] {
      --color-card-background: var(--color-program-green-150);
      --color-card-text--primary: var(--color-grey-25);
    }
  }

  .cardItem.cardItem--grantee,
  .cardItem.cardItem--bio,
  .cardItem.cardItem--media,
  .cardItem.cardItem--post {
    --color-card-text--primary: var(--color-program-green-100);
  }
}

[data-theme-color="plum"] {
  .cardItem.cardItem--feature {
    --color-card-text--primary: var(--color-program-plum-100);

    &[data-is-reversed=true] {
      --color-card-background: var(--color-program-plum-150);
      --color-card-text--primary: var(--color-grey-25);
    }
  }

  .cardItem.cardItem--grantee,
  .cardItem.cardItem--bio,
  .cardItem.cardItem--media,
  .cardItem.cardItem--post {
    --color-card-text--primary: var(--color-program-plum-100);
  }
}

[data-theme-color="marigold"] {
  .cardItem.cardItem--feature {
    --color-card-text--primary: var(--color-program-marigold-100);

    &[data-is-reversed=true] {
      --color-card-background: var(--color-program-marigold-100);
      --color-card-text--primary: var(--color-navy-100);
      --color-card-text--secondary: var(--color-grey-200);
    }
  }

  .cardItem.cardItem--grantee,
  .cardItem.cardItem--bio,
  .cardItem.cardItem--media,
  .cardItem.cardItem--post {
    --color-card-text--primary: var(--color-program-marigold-100);
  }
}


// Cards
.cardItem {
  background-color: var(--color-card-background);

  // Label
  .cardItem__label {
    max-width: 28em;
    @include getType('label');
  }

  // Action
  &.cardItem--action {
    padding: var(--base-12) var(--base-9);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .cardItem__support {
      margin-block-end: var(--base);
      max-width: 25em;
      color: var(--color-nav-100);
      @include getType('h5-messina');
    }

    @include breakpoint(md) {
      padding-inline: var(--base-12);
      min-height: 248px;

      .cardItem__support {
        margin-block-end: var(--base-2);
        @include getType('h4-messina');
      }
    }
  }


  // Bio
  &.cardItem--bio {
    background-color: var(--color-card-background);

    .cardItem__media {
      .image {
        aspect-ratio: 3 / 2;
        display: block;
        position: relative;
        overflow: hidden;
    
        img {
          inset: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
        }
      }
    }

    .cardItem__heading {
      color: var(--color-card-text--primary);
      @include getType('h5-axiforma');
    }

    .cardItem__details {
      .details__pronouns {
        color: var(--color-card-text--secondary);
        font-style: italic;
      }
      .details {
        margin-block-start: var(--base-2);
      }
    }

    .cardItem__button {
      display: none;
    }
  }


  // Feature
  &.cardItem--feature {
    padding-block: var(--base-6);

    .cardItem__inner {
      @include container-narrow;
    }

	  @include breakpoint(sm) {
		  padding-block: var(--base-9);
	  }


    // General styles
    color: var(--color-card-text--secondary);
    
    .cardItem__heading {
      max-width: 20em;
      color: var(--color-card-text--primary);
    }

    .cardItem__support {
      p {
        max-width: 26em;
      }

      strong {
        font-weight: 400;
      }

      i {
        font-style: italic;
      }

      a {
        color: inherit;
        transition: color var(--transition) ease-in;
    
        @media (hover: hover) {
          &:hover {
            color: var(--color-card-text--primary);
            transition: color var(--transition-intermediate) ease-out;
          }
        }
      }
    }

    @include breakpoint(md) {
      .cardItem__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }


    // No image
    &.cardItem--no-image {
      .cardItem__header {
        padding: var(--base-7) var(--base-6);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        box-shadow: var(--shadow-deep--light);
        text-align: center;
      }

      .cardItem__heading {
        @include getType('h3-axiforma');
      }

      .cardItem__label {
        margin-block-end: var(--base-4);
      }

      .cardItem__body {
        padding: var(--base-7) var(--base-5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: var(--shadow-shallow--light);
      }

      .cardItem__support {
        @include getType('h5-messina');
        text-align: center;
      }

      .cardItem__action {
        margin-block-start: var(--base-4);
      }

      @include breakpoint(md) {
        padding-block: 0;

        .cardItem__inner {
          min-height: var(--card-min-height);
        }

        .cardItem__header,
        .cardItem__body {
          padding: var(--base-12) var(--base-10);
        }

        .cardItem__action {
          margin-block-start: var(--base-5);
        }
      }

      @include breakpoint(lg) {
        .cardItem__inner {
          min-height: 480px;
        }

        .cardItem__header {
          padding: var(--base-12);
        }

        .cardItem__heading {
          @include getType('h2-axiforma');
        }

        .cardItem__label {
          margin-block-end: var(--base-3);
        }

        .cardItem__body {
          padding: var(--base-14);
        }
      }

      @include breakpoint(xl) {
        .cardItem__support {
          @include getType('h3-messina');
        }

        .cardItem__action {
          margin-block-start: var(--base-10);
        }
      }
    }

    // With image
    &.cardItem--with-image {
      .cardItem__media {
        .image {
          aspect-ratio: 3 / 2;
          display: block;
          position: relative;
          overflow: hidden;
      
          img {
            inset: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
          }
        }
      }

      .cardItem__header {
        padding-block: var(--base-4) var(--base-3);
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
      }

      .cardItem__heading {
        @include getType('h5-axiforma');
      }

      .cardItem__label {
        margin-block-end: var(--base-2);
      }

      .cardItem__support {
        @include getType('caption-messina');
      }

      .cardItem__action {
        margin-block-start: var(--base-5);
      }

      @include breakpoint(sm) {
        .cardItem__header {
          padding-block: var(--base-7) var(--base-5);
        }
  
        .cardItem__heading {
          @include getType('h4-axiforma');
        }
  
        .cardItem__support {
          @include getType('h5-messina');
        }

        .cardItem__action {
          margin-block-start: var(--base-10);
        }
      }

      @include breakpoint(md) {
        padding-block: var(--base-14);

        .cardItem__content {
          order: 1;
        }

        .cardItem__media {
          order: 2;
        }

        &.cardItem--align-right {
          .cardItem__media {
            order: 1;
          }

          .cardItem__content {
            order: 2;
          }
        }

        .cardItem__media {
          min-height: var(--card-min-height);

          .image {
            aspect-ratio: auto;
            height: 100%;
          }
        }

        .cardItem__content {
          padding: var(--base-12) var(--base-10);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
        }

        .cardItem__header {
          padding-block-start: 0;
        }

        .cardItem__label {
          margin-inline: auto;
        }
      }

      @include breakpoint(lg) {
        .cardItem__content {
          padding: var(--base-14);
        }

        .cardItem__header {
          padding-block-end: var(--base-4);
        }
        .cardItem__heading {
          @include getType('h2-axiforma');
        }

        .cardItem__label {
          margin-block-end: var(--base-4);
        }

        .cardItem__support {
          @include getType('subhead');
        }
      }
    }
  }


  // Grantee, Media,
  // and Post
  &.cardItem--grantee,
  &.cardItem--media,
  &.cardItem--post {
    box-shadow: var(--shadow-shallow--light);
    padding: var(--base-6);
    display: grid;

    @include breakpoint(sm) {
      padding: var(--base-9);
    }

    .cardItem__inner {
      display: flex;
      flex-direction: column;
    }

    .cardItem__media {
      margin-block-end: var(--base-5);
      position: relative;

      .image {
        aspect-ratio: 16 / 9;
        display: block;
        position: relative;
        overflow: hidden;
    
        img {
          inset: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
        }
      }
    }

    .cardItem__header {
      margin-block-end: var(--base-3);
      display: flex;
      flex-direction: column-reverse;
    }

    .cardItem__label {
      margin-block-end: var(--base-2);
    }

    .cardItem__heading {
      color: var(--color-card-text--primary);
      @include getType('h5-axiforma');
    }
  }

  // Media, and Post
  &.cardItem--media,
  &.cardItem--post {
    .cardItem__content {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    @include breakpoint(xl) {
      .cardItem__heading {
        @include getType('h4-axiforma');
      }
    }
  }

  // Grantee
  &.cardItem--grantee {
    .cardItem__label {
      color: var(--color-card-text--tertiary);
    }

    .cardItem__content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .cardItem__summary {
      margin-block-end: var(--base-5);
      max-width: 30em;
      color: var(--color-card-text--secondary);
      @include getType('caption-messina');
    }

    .cardItem__secondary {
      margin-top: auto;
    }

    .cardItem__actions {
      margin-block: var(--base-4) var(--neg-base-2);
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      > * {
        margin: 0 var(--base-4) var(--base-2) 0;
      }
    }

    // Large
    &[data-variant=large] {
      .cardItem__heading {
        @include getType('h4-axiforma');
      }

      @include breakpoint(md) {
        .cardItem__heading {
          @include getType('h3-axiforma');
        }

        .cardItem__summary {
          @include getType('body');
        }
      }
    }
  }


  // Media
  &.cardItem--media {
    .cardItem__video-play {
      inset: 0;
      width: 100%;
      height: 100%;
      position: absolute;

      span {
        @include visuallyHide;
      }

      &::before,
      &::after {
        content: '';
        top: 50%;
        left: 50%;
        display: block;
        position: absolute;
      }

      &::before {
        width: var(--base-13);
        height: var(--base-13);
        transform: translate(-50%, -50%);
        border-radius: 1000px;
        background-color: var(--color-grey-25);
        transition: all var(--transition) ease-in;
      }

      &::after {
        width: 10px;
        height: 12px;
        transform: translate(calc(-50% + 2px), -50%);
        background-color: var(--color-navy-100);
        clip-path: polygon(100% 50%, 0 0, 0 100%);
      }

      @media (hover: hover) {
        &:hover {
          &::before {
            box-shadow: var(--shadow-action);
            background-color: var(--color-citrus-100);
            transition: var(--transition-action-in);
            transition: all var(--transition-intermediate) ease-out;
          }
        }
      }
    }
    
    .cardItem__label {
      color: var(--color-card-text--secondary);
    }

    .cardItem__action {
      margin-top: auto;

      a {
        margin-top: var(--base-6);
      }
    }
  }

  // Post
  &.cardItem--post {
    .cardItem__label {
      color: var(--color-card-text--tertiary);
    }

    .cardItem__publication {
      color: var(--color-card-text--tertiary);
      @include getType('body');
      font-style: italic;
    }

    // Published Date
    .cardItem__published-date {
      color: var(--color-card-text--tertiary);
    }

    .cardItem__details {
      margin-block-end: var(--base-6);
    }

    // Published Date
    .cardItem__published-date {
      display: block;
      @include getType('caption-axiforma');
    }

    // Authors
    .cardItem__authors {
      color: var(--color-card-text--quaternary);
      @include getType('caption-axiforma');
    }
    .details {
      margin-block-start: 0;
    }

    // Summary
    .cardItem__summary {
      margin-block-end: var(--base-5);
      @include getType('caption-messina');
    }

    // Actions {
    .cardItem__actions {
      margin-top: auto;

      .cardItem__action {
        margin-top: var(--base-6);
      }
    }

    // Tags
    .cardItem__tags {
      margin-top: var(--base-5);
    }

    @include breakpoint(xl) {
      .cardItem__header {
        margin-block-end: var(--base-5);
      }

      .cardItem__publication {
        @include getType('h4-messina');
      }

      .cardItem__summary {
        margin-block-end: var(--base-8);
      }
    }
  }
}

[data-grid-style="grid"] {
  .cardItem.cardItem--bio {
    padding: var(--base-6);
    display: grid;
    box-shadow: var(--shadow-shallow--light);

    .cardItem__media {
      margin-block-end: var(--base-4);
    }

    .cardItem__details {
      .details__pronouns {
        @include getType('body');
      }
    }

    .cardItem__action {
      margin-block-start: var(--base-9);
    }

    @include breakpoint(xl) {
      padding: var(--base-9);

      .cardItem__media {
        margin-block-end: var(--base-7);
      }
    }
  }
}

[data-grid-style="list"] {
  .cardItem.cardItem--bio {
    padding: var(--base-5) var(--base-5) var(--base-5) 0;
    display: flex;
    border-top: 1px solid var(--color-grey-50);

    .cardItem__media {
      margin-inline-end: var(--base-4);
      width: var(--base-12);
      flex-shrink: 0;

      .image {
        aspect-ratio: 1 / 1;
      }
    }

    .cardItem__details {
      .details__pronouns {
        @include getType('caption-messina');
      }
    }

    .cardItem__action {
      margin-block-start: var(--base);
    }

    @include breakpoint(sm) {
      .cardItem__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .cardItem__action {
        margin-block-start: 0;
      }
    }

    @include breakpoint(md) {
      .cardItem__media {
        margin-inline-end: var(--base-5);
        width: 100px;
      }

      .cardItem__content {
        align-items: center;
      }

      .cardItem__link {
        display: none;
      }

      .cardItem__button {
        display: block;
      }
    }

    @include breakpoint(lg) {
      padding-inline: 0;

      .cardItem__media {
        margin-inline-end: var(--base-7);
        width: 150px;
      }

      .cardItem__details {
        .details__pronouns {
          @include getType('body');
        }
      }
    }
  }
}