/* _featured-carousel.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Component: Featured Carousel
  See templates/_macros/02_components/_featured-carousel.twig for markup
------------------------------------------------------------------------ */

.featured-carousel {
  --color-carousel--primary: var(--color-teal-150);

  padding-block-end: var(--base-12);
  @include container;
  position: relative;

  &::before {
    content: '';
    inset: 0 0 0 -50vw;
    width: 200vw;
    position: absolute;
    background-color: var(--color-carousel--primary);
  }

  > * {
    position: relative;
  }

  @include breakpoint(md) {
    padding-inline: 0;
  }

  @include breakpoint(lg) {
		padding-inline: var(--base-12);
	}

	@include breakpoint(xl) {
    padding-block-end: var(--base-14);
		padding-inline: var(--base-18);
	}
}