/* _feed.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Component: Feed
  See templates/_macros/02_components/_feed.twig for markup
------------------------------------------------------------------------ */

.cardRow {
  @include container-inner;
  padding-block-start: var(--base-2);

  > * {
    position: relative;
  }
  
  @for $i from 1 through 50 {
    > *:nth-child(#{$i}) {
      z-index: #{21 - $i};
    }
  }

  @include breakpoint(sm-md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint(lg) {
    padding-block-end: var(--base-18);

    &[data-columns="4"] {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @include breakpoint(xl) {
    &[data-columns="3"] {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @include breakpoint(xxl) {
    &[data-columns="4"] {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.cardRow + .cardItem--action {
  @include breakpoint(lg) {
    margin-block-start: var(--neg-base-18);
  }
}