/* _forms.scss */
@use "../utils/_utils" as *;
@use "sass:math";
@use "sass:meta";

/* -------------------------------------------------------------------------------
 Form Content
---------------------------------------------------------------------------------- */
@mixin formContent($selector,$default:true,$colors...) {

	#{$selector} {
		font-size: 1rem;

        &-legend {
            @include visuallyHide;
        }

		&-field {
            border: 1px solid transparent;
            margin-bottom: 2.4em;
            padding: 0.6em 1.2em 1.2em 1.2em;
            position: relative;

            &._is-focused {
                border-bottom-width: 6px;
                padding-bottom: 7px;
            }

			&._is-error::after,
			&._has-value::after {
				$size: 18px;
				content: '';
				height: $size;
				margin-top: math.div($size,2) * -1;
				width: $size;
				position: absolute;
				right: 10px;
				top: 50%;
			}

			&._is-error::after {
                -webkit-mask-image: url(#{$svg-path}icon-error.svg);
                mask-image: url(#{$svg-path}icon-error.svg);
			}

			&._has-value::after {
                -webkit-mask-image: url(#{$svg-path}icon-valid.svg);
				mask-image: url(#{$svg-path}icon-valid.svg);
			}

		}

        &-input, 
        &-select,
        &-textarea {
            border: none;
            width: 100%;
            text-align: left;

            // TO DO: 
			// https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible
			&:focus-visible {
				outline: none;
			}

        }

        &-select {
            position: relative;
            z-index: 2;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            option {
                padding: 0;
            }
        }

        &-honeypot {
            display: none;
        }

	}

    @if $default != false {
		@include formContent--default($selector,$colors);
	}

}


/* -------------------------------------------------------------------------------
 Form Content: Default Presentation
---------------------------------------------------------------------------------- */
@mixin formContent--default($selector,$colors) {

	#{$selector} {

        &-honeypot {
            display: none;
        }

        &-field {

            &._is-focused {
            }

            &._has-value {
                &::after {
                }
            }

            &._is-error {
                &::after {
                }
            }

        }

        &-label {

            #{$selector}-field._is-error & {

            }
        }

        &-input, 
        &-textarea {
        
            &::placeholder {
                #{$selector}-field._is-error & {
                }
            }

            #{$selector}-field._is-error & {
            }

        }

        &-select {
            
            &::placeholder {
            }

            #{$selector}-field._is-error & {
            }

        }

    }

}
