/* _grants.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Component: Grants
  See templates/_macros/02_components/_grants.twig for markup
------------------------------------------------------------------------ */


.l-button {
  display: inline-block;
  font-size: 0.75em;
  line-height: 1.6666666667;
  font-weight: 500;
  color: #015750;
  text-align: center;
  text-transform: uppercase;
  min-width: 9.6875rem;
  padding: 1rem 1.5rem;
  border: 1px solid #e8e8e8;
  border-radius: 2.1875rem;
  background-color: #F5F5F5;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.l-button:hover {
  color: #F5F5F5;
  background-color: #015750;
}

.l-link {
  display: inline-block;
  font-size: 0.75em;
  line-height: 1.6666666667;
  font-weight: 500;
  color: #F5F5F5;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0;
  position: relative;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
.l-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #F5F5F5;
  opacity: 0.65;
}
.l-link:hover {
  opacity: 0.8;
}

.aspect-box {
  position: relative;
  width: 100%;
}
.aspect-box img, .aspect-box video, .aspect-box canvas, .aspect-box iframe, .aspect-box svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
}
.aspect-box:before {
  content: "";
  display: block;
  padding-top: calc(var(--aspect-ratio) * 100%);
}

.container {
  max-width: 1512px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.container--lg {
  padding: 0 4.5rem;
}

.section.section--grantee {
  background-color: #015750;
}
@media screen and (min-width:1199px) {
  .section.section--grantee .container {
    padding: 0 8rem;
  }
}
.section.section--infographic {
  background-color: #015750;
}
@media screen and (min-width:1199px) {
  .section.section--infographic .container {
    padding: 2rem 6.625rem 0;
  }
}
.section.section--granteecards {
  background-color: transparent;
  background-image: url(/uploads/images/interstitial-graphic.png);
  background-position: top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.section.section--sitemap {
  background-color: #015750;
}
.section.section--sitemap .container {
  padding: 3.875rem 1.5rem;
}
@media screen and (min-width:744px) {
  .section.section--sitemap .container {
    padding: 3.875rem 3.5rem;
  }
}
@media screen and (min-width:1320px) {
  .section.section--sitemap .container {
    padding: 4.0625rem 8rem;
  }
}
@media screen and (min-width:744px) {
  .section.section--featured-carousel .container {
    padding: 1.625rem 3.5rem;
  }
}
@media screen and (min-width:1320px) {
  .section.section--featured-carousel .container {
    padding: 0.375rem 2.625rem;
  }
}

.bf.accordion {
  padding: 0;
  margin: 0;
  display: block;
}
.bf.accordion .accordion__item {
  position: relative;
}
.bf.accordion .accordion__item .accordion__content {
  padding: 0 1rem 1rem 1rem;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #015750;
  border: 0.0625rem solid #F5F5F5;
  border-radius: 0.375rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bf.accordion .accordion__item .accordion__title {
  position: relative;
  opacity: 0.65;
}
.bf.accordion .accordion__item .accordion__title button {
  padding: 1rem;
  padding-right: 2rem;
  box-shadow: none;
  background-color: transparent;
  position: relative;
  flex-basis: 36%;
  text-align: left;
  border: none;
  box-shadow: none;
  width: 100%;
  cursor: pointer;
  border: 0.0625rem solid #F5F5F5;
  border-radius: 0.375rem;
}
.bf.accordion .accordion__item .accordion__title button span {
  font-size: 0.875em;
  line-height: 1.4285714286;
  font-weight: 400;
  color: #F5F5F5;
  font-family: "Axiforma";
}
.bf.accordion .accordion__item .accordion__title.accordion__title--active button {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.bf.accordion .accordion__item .accordion__logo {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  width: 1.25rem;
  height: 1.25rem;
  transform: translateY(-50%);
}
.bf.accordion .accordion__item .accordion__logo svg {
  width: 100%;
}
.bf.accordion .accordion__item p {
  font-size: 0.875em;
  line-height: 1.4285714286;
  font-weight: 400;
  color: #F5F5F5;
  font-family: "Axiforma";
  opacity: 0.65;
  padding: 0.9375rem 0;
  border-top: 1px solid #636466;
  margin: 0;
  opacity: 0.65;
}

/* featured carousel style starts */
@media screen and (min-width:950px) {
  .carousel-item {
    display: flex;
    justify-content: space-between;
    padding: 1.875rem;
  }
}
.carousel-item .carousel-item__cnt {
  padding: 1.625rem 0;
}
@media screen and (min-width:950px) {
  .carousel-item .carousel-item__cnt {
    width: 50%;
    padding: 2.9375rem 3.5rem;
    box-shadow: 0rem 0.3125rem 1.25rem 0rem rgba(0, 0, 0, 0.349);
  }
}
.carousel-item .carousel-item__cnt h5 {
  font-family: "Axiforma";
  font-size: 0.875em;
  line-height: 1.7142857143;
  font-weight: 500;
  text-transform: uppercase;
  color: #636466;
  letter-spacing: 0.0875rem;
  margin-bottom: 0.625rem;
}
@media screen and (min-width:768px) {
  .carousel-item .carousel-item__cnt h5 {
    margin-bottom: 1.125rem;
  }
}
.carousel-item .carousel-item__cnt h3 {
  font-family: "Axiforma";
  font-size: 1.625em;
  line-height: 1.3076923077;
  font-weight: 400;
  letter-spacing: -0.02rem;
  color: #007E46;
  margin-bottom: 0.875rem;
}
@media screen and (min-width:768px) {
  .carousel-item .carousel-item__cnt h3 {
    font-size: 2em;
    line-height: 1.25;
    margin-bottom: 1.5rem;
  }
}
.carousel-item .carousel-item__cnt p {
  font-family: "Axiforma";
  font-size: 1.125em;
  line-height: 1.5555555556;
  font-weight: 400;
  letter-spacing: -0.009375rem;
  color: #262053;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media screen and (min-width:768px) {
  .carousel-item .carousel-item__cnt p {
    font-size: 1.25em;
    line-height: 1.5;
    margin-bottom: 1.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.carousel-item .carousel-item__cnt .carousel-item__authors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0 1.625rem;
  margin-bottom: 0.625rem;
}
@media screen and (min-width:768px) {
  .carousel-item .carousel-item__cnt .carousel-item__authors {
    margin-bottom: 1.375rem;
  }
}
.carousel-item .carousel-item__cnt .carousel-item__author {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.carousel-item .carousel-item__cnt .carousel-item__author figure {
  width: 2rem;
  height: 2rem;
  border-radius: 0.125rem;
}
.carousel-item .carousel-item__cnt .carousel-item__author p {
  font-family: "Axiforma";
  font-size: 0.875em;
  line-height: 1.4285714286;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: -0.013125rem;
  color: #383266;
  padding: 0.6875rem 0.75rem;
  margin: 0;
}
.carousel-item .carousel-item__cnt .carousel-item__btns .l-button {
  min-width: 7.3125rem;
}
@media screen and (min-width:950px) {
  .carousel-item .carousel-item__image {
    width: 50%;
  }
}

/* featured carousel style starts */
/* featured style starts */
.featured-slider.carousel {
  padding: 0;
  overflow: hidden;
}
.featured-slider.carousel .swiper::before {
  content: none;
}
.featured-slider .carousel__controls {
  padding: 0.625rem 0 1.25rem;
}
.featured-slider .carousel__controls .controls__last svg {
  transform: rotate(180deg);
}

/* featured style ends */
.bg.filter {
  padding: 4.5rem 0 1.25rem;
}
.bg.filter h3,
.bg.filter h4 {
  font-weight: 500;
  color: #F5F5F5;
  font-family: "Axiforma";
  margin-bottom: 0;
}
.bg.filter h3 {
  font-size: 1.25em;
  line-height: 1.4;
}
.bg.filter h4 {
  font-size: 0.875em;
  line-height: 1.7142857143;
}
.bg.filter .filter__inputs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding: 1.5rem 0;
}
@media screen and (min-width:950px) {
  .bg.filter .filter__inputs {
    flex-direction: row;
  }
}
.bg.filter .filter__radios {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem 1.5rem;
  margin-top: 1rem;
}
.bg.filter .filter__radios .input-wrapper {
  margin-bottom: 0;
}
@media screen and (min-width:950px) {
  .bg.filter .filter__radios {
    flex-direction: row;
  }
}
.bg.filter .filter__button {
  padding: 1rem 2.25rem 1rem 1rem;
  border: 0.0625rem solid #F5F5F5;
  border-radius: 0.375rem;
  box-shadow: none;
  background-color: transparent;
  position: relative;
  flex-basis: 36%;
  height: 3.25rem;
  text-align: left;
  width: 100%;
  opacity: 0.65;
}
@media screen and (min-width:950px) {
  .bg.filter .filter__button {
    max-width: 28.75rem;
  }
}
.bg.filter .filter__button span {
  font-size: 0.875em;
  line-height: 1.4285714286;
  font-weight: 400;
  color: #F5F5F5;
  font-family: "Axiforma";
}
.bg.filter .filter__button::after {
  position: absolute;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  right: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #F5F5F5;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_5323_17234)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 0H9V9H0V11H9V20H11V11H20V9H11V0Z' fill='%23F5F5F5' fill-opacity='0.65'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_5323_17234'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
@media screen and (min-width:950px) {
  .bg.filter .input {
    max-width: 21.875rem;
    margin-left: auto;
  }
}
.bg.filter .bf.accordion {
  width: 100%;
}
@media screen and (min-width:950px) {
  .bg.filter .bf.accordion {
    flex-basis: 22.5%;
    max-width: 17.5rem;
  }
}
.bg.filter button {
  font-size: 16px;
}

.bf.grantee-card {
  --var-grantee-color: $color-txt-accent;
  padding: 1.5rem;
  background-color: #F5F5F5;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.251);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (min-width:768px) {
  .bf.grantee-card {
    width: 50%;
  }
}
@media screen and (min-width:950px) {
  .bf.grantee-card {
    width: 33.33%;
  }
}
.bf.grantee-card h3 {
  font-size: 1.25em;
  line-height: 1.4;
  font-family: "Axiforma";
  font-weight: 500;
  color: var(--var-grantee-color);
  text-transform: capitalize;
  margin-bottom: 1.25rem;
}
.bf.grantee-card h4 {
  font-size: 0.875em;
  line-height: 1.7142857143;
  font-family: "Axiforma";
  font-weight: 500;
  color: #636466;
  flex-basis: 50%;
  margin-bottom: 0;
}
.bf.grantee-card .grantee-card__cnt {
  font-size: 1.0625em;
  line-height: 1.4117647059;
  font-family: "Messina Serif Trial";
  font-weight: 400;
  color: #262053;
  margin-bottom: auto;
  margin-top: 0;
}
.bf.grantee-card .grantee-card__table {
  margin-top: 1rem;
}
.bf.grantee-card .grantee-card__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 1rem 0;
  border-top: 0.0625rem solid #C7C9CA;
}
.bf.grantee-card .grantee-card__row:first-child {
  min-height: 4.6875rem;
}
.bf.grantee-card .grantee-card__row.grantee-card__row--rev {
  display: block;
  min-height: 6.5625rem;
}
.bf.grantee-card .grantee-card__row.grantee-card__row--rev h4 {
  margin-bottom: 1rem;
}
.bf.grantee-card .grantee-card__value {
  font-size: 0.875em;
  line-height: 1.4285714286;
  font-family: "Axiforma";
  font-weight: 500;
  color: #262053;
  flex-basis: 50%;
}
.bf.grantee-card .grantee-card__tag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.625rem;
}
.bf.grantee-card .grantee-card__tag li {
  position: relative;
  display: inline-block;
  font-size: 0.875em;
  line-height: 1.4285714286;
  font-family: "Axiforma";
  font-weight: 400;
  color: var(--var-grantee-color);
  text-transform: capitalize;
  border: 0.0625rem solid var(--var-grantee-color);
  border-radius: 0.125rem;
  padding: 0.25rem 0.5rem 0.375rem;
}
.bf.grantee-card .grantee-card__tag li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 0.3125rem solid var(--var-grantee-color);
  border-right: 0.3125rem solid transparent;
  border-bottom: 0.3125rem solid transparent;
  border-left: 0.3125rem solid var(--var-grantee-color);
}
.bf.grantee-card .grantee-card__footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}
.bf.grantee-card .grantee-card__footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem 0.25rem;
  text-decoration: none;
}
.bf.grantee-card .grantee-card__footer a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.0625rem;
  bottom: 0;
  left: 0;
  background-color: var(--var-grantee-color);
}
.bf.grantee-card .grantee-card__footer a span {
  font-size: 0.75em;
  line-height: 1.6666666667;
  font-family: "Axiforma";
  font-weight: 500;
  color: var(--var-grantee-color);
  text-transform: uppercase;
  text-align: center;
}
.bf.grantee-card .grantee-card__footer a:hover {
  opacity: 0.8;
}
.bf.grantee-card .grantee-card__footer .grantee-card__footer-logo {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
}
.bf.grantee-card .grantee-card__footer .grantee-card__footer-logo svg path {
  fill: var(--var-grantee-color);
}

.bf.grantee {
  padding: 1.25rem 0;
}
@media screen and (min-width:768px) {
  .bf.grantee {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width:950px) {
  .bf.grantee.grantee--list .grantee-card {
    width: 100%;
  }
  .bf.grantee.grantee--list .grantee-card h4 {
    margin-bottom: 1rem;
  }
  .bf.grantee.grantee--list .grantee-card .grantee-card__cnt {
    margin-top: auto;
    margin-bottom: 1.25rem;
  }
  .bf.grantee.grantee--list .grantee-card .grantee-card__table {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 0;
  }
  .bf.grantee.grantee--list .grantee-card .grantee-card__table .grantee-card__row {
    display: block;
    border: none;
    flex: 0 0 14.4375rem;
    padding-right: 0.5rem;
  }
  .bf.grantee.grantee--list .grantee-card .grantee-card__table .grantee-card__row:first-child {
    min-height: unset;
  }
  .bf.grantee.grantee--list .grantee-card .grantee-card__table .grantee-card__row:nth-child(n+2):nth-child(-n+4) {
    flex-basis: 10rem;
  }
}

.grantee-infographic {
  background-color: #F5F5F5;
  padding: 1.25rem;
}
@media screen and (min-width:768px) {
  .grantee-infographic {
    padding: 2.25rem;
  }
}
@media screen and (min-width:1199px) {
  .grantee-infographic {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3.5rem;
  }
}
@media screen and (min-width:1199px) {
  .grantee-infographic .grantee-infographic__cnt {
    padding-right: 1.25rem;
    flex-basis: 26.5%;
  }
}
.grantee-infographic .grantee-infographic__cnt .accordion {
  display: block;
  padding: 0;
  margin: 0 0 2rem;
}
@media screen and (min-width:1199px) {
  .grantee-infographic .grantee-infographic__cnt .accordion {
    margin: 0;
  }
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item {
  --accordion-color: #007E46;
  position: relative;
  border: none;
  border-top: 0.125rem solid #e4e4e4;
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__content {
  display: none;
  padding: 0.25rem 0.5rem 0.5rem;
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__content p {
  font-size: 1em;
  line-height: 1.375;
  font-weight: 400;
  color: var(--accordion-color);
  margin-bottom: 0.25rem;
  opacity: 0.7;
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__content a {
  font-size: 1em;
  line-height: 1.375;
  font-weight: 400;
  color: var(--accordion-color);
  margin-bottom: 0.25rem;
  opacity: 0.7;
  display: inline-block;
  text-decoration: none;
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__content a:hover {
  opacity: 1;
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__content ul {
  list-style: none;
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__content ul li {
  position: relative;
  font-size: 1em;
  line-height: 1.375;
  font-weight: 400;
  color: var(--accordion-color);
  margin-bottom: 0.25rem;
  opacity: 0.9;
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__title {
  position: relative;
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__title button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem 0;
  cursor: pointer;
  box-shadow: none;
  border: none;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__title button span {
  font-size: 0.9375em;
  line-height: 1.6;
  font-weight: 400;
  color: var(--accordion-color);
  text-align: left;
  display: inline-block;
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__title button span.accordion__logo {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__title button span.accordion__logo::after {
  content: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  line-height: 0.625rem;
  font-weight: 300;
  text-align: center;
  color: var(--accordion-color);
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__title button span.accordion__logo svg {
  width: 1.25rem;
  height: 1.25rem;
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__title button span.accordion__logo svg path {
  fill: var(--accordion-color);
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__title.accordion__title--active button span.accordion__logo svg {
  display: none;
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__title.accordion__title--active button span.accordion__logo::after {
  content: "-";
}
.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item p {
  font-size: 0.9375em;
  line-height: 1.6;
  font-weight: 400;
  color: #32475d;
}
.grantee-infographic .grantee-infographic__view {
  flex: 1;
  height: 100%;
  min-height: 400px;
}

.bf.input-wrapper {
  margin-bottom: 1rem;
}
@media screen and (min-width:768px) {
  .bf.input-wrapper {
    margin-bottom: 0.75rem;
  }
}
.bf.input-wrapper .radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0.65;
}
.bf.input-wrapper .radio-button input[type=radio],
.bf.input-wrapper .radio-button input[type=checkbox] {
  display: none;
}
.bf.input-wrapper .radio-button input[type=radio]:checked ~ .radio-checkmark:before,
.bf.input-wrapper .radio-button input[type=checkbox]:checked ~ .radio-checkmark:before {
  transform: translate(-50%, -50%) scale(1);
}
.bf.input-wrapper .radio-button label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.bf.input-wrapper .radio-button.radio-button--check .radio-checkmark {
  border-radius: 0.3125rem;
  width: 1.5rem;
  height: 1.5rem;
}
.bf.input-wrapper .radio-button.radio-button--check .radio-checkmark::before {
  width: 1rem;
  height: 1rem;
  border-radius: 0.3125rem;
}
.bf.input-wrapper .radio-checkmark {
  display: inline-block;
  position: relative;
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 0.5rem;
  border: 0.125rem solid #F5F5F5;
  border-radius: 50%;
}
.bf.input-wrapper .radio-checkmark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  background-color: #F5F5F5;
  transition: all 0.2s ease-in-out;
}
.bf.input-wrapper .radio-label {
  font-size: 0.875em;
  line-height: 1.4285714286;
  font-family: "Axiforma";
  color: #F5F5F5;
  display: inline-block;
  flex: 1;
}

dialog.modal {
  --max-width: rem(1200);
  --width: 100px;
  --modal-bg: $color-brand;
  top: var(--top, 5rem);
  left: 50%;
  max-width: 75rem;
  border: 0.0625rem solid #262053;
  transform: translateX(-50%);
  background-color: var(--modal-bg);
  width: calc(100vw - 100px);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3490196078);
}
dialog.modal .modal__header {
  position: relative;
  padding: 1.5rem;
}
@media screen and (min-width:480px) {
  dialog.modal .modal__header {
    padding: 2.25rem;
  }
}
@media screen and (min-width:950px) {
  dialog.modal .modal__header {
    padding: 3rem 3rem 2.25rem;
  }
}
dialog.modal .modal__header p {
  font-size: 1.0625em;
  line-height: 1.4117647059;
  font-weight: 400;
  font-family: "Messina Serif Trial";
  font-style: italic;
  color: #F5F5F5;
}
@media screen and (min-width:950px) {
  dialog.modal .modal__header p {
    font-size: 1.3125em;
    line-height: 1.4285714286;
  }
}
dialog.modal .modal__header h3 {
  font-size: 1.5em;
  line-height: 1.3333333333;
  font-weight: 400;
  font-family: "Axiforma";
  color: #8DD9BF;
  margin-bottom: 0;
}
@media screen and (min-width:950px) {
  dialog.modal .modal__header h3 {
    font-size: 2em;
    line-height: 1.25;
  }
}
dialog.modal .modal__close {
  width: 2.25rem;
  height: 2.25rem;
  position: absolute;
  right: 0.9375rem;
  top: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262053;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
dialog.modal .modal__close:hover {
  border: 0.0625rem solid #C7C9CA;
  border-radius: 0.3125rem;
}
dialog.modal .modal__close svg {
  width: 1.25rem;
  height: 1.25rem;
}
dialog.modal .modal__cnt,
dialog.modal .modal__footer {
  padding: 1.5rem;
}
@media screen and (min-width:480px) {
  dialog.modal .modal__cnt,
  dialog.modal .modal__footer {
    padding: 0 2.25rem 2.25rem;
  }
}
@media screen and (min-width:950px) {
  dialog.modal .modal__cnt,
  dialog.modal .modal__footer {
    padding: 0 3rem 3rem;
  }
}
dialog.modal .modal__footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width:768px) {
  dialog.modal .modal__footer {
    flex-direction: row;
    align-items: center;
  }
}
dialog.modal .modal__footer .l-button,
dialog.modal .modal__footer .l-link {
  font-family: "Axiforma";
  font-size: 0.75em;
  line-height: 1.6666666667;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1125rem;
  text-transform: uppercase;
}
dialog.modal.modal--active {
  display: block;
  z-index: 2;
}
dialog.modal .accordion {
  padding: 0;
  display: block;
}
@media screen and (min-width:950px) {
  dialog.modal .accordion {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
dialog.modal .accordion .accordion__item {
  position: relative;
  border: none;
  width: 100%;
  border-top: 0.0625rem solid #C7C9CA;
}
@media screen and (min-width:950px) {
  dialog.modal .accordion .accordion__item {
    width: calc(33.33% - 0.0625rem);
    border: none;
  }
}
@media screen and (min-width:950px) {
  dialog.modal .accordion .accordion__item.accordion__item--large {
    width: calc(66.66% - 0.0625rem);
  }
}
dialog.modal .accordion .accordion__item .accordion__title {
  position: relative;
}
dialog.modal .accordion .accordion__item .accordion__title button {
  font-size: 0.9375em;
  line-height: 1.6;
  font-weight: 500;
  font-family: "Axiforma";
  color: #8DD9BF;
  width: 100%;
  border: none;
  box-shadow: none;
  text-align: left;
  background-color: #262053;
  padding: 1rem 0;
  pointer-events: all;
}
@media screen and (min-width:768px) {
  dialog.modal .accordion .accordion__item .accordion__title button {
    font-size: 1.25em;
    line-height: 1.4;
  }
}
@media screen and (min-width:950px) {
  dialog.modal .accordion .accordion__item .accordion__title button {
    pointer-events: none;
  }
}
dialog.modal .accordion .accordion__item .accordion__title::after {
  position: absolute;
  content: "+";
  right: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #F5F5F5;
}
@media screen and (min-width:950px) {
  dialog.modal .accordion .accordion__item .accordion__title::after {
    content: none;
  }
}
dialog.modal .accordion .accordion__item .accordion__title.accordion__title--active::after {
  content: "-";
  font-size: 2.625rem;
  transform: translateY(-60%);
}
dialog.modal .accordion .accordion__item .accordion__content {
  display: none;
  padding-bottom: 1.25rem;
}
@media screen and (min-width:950px) {
  dialog.modal .accordion .accordion__item .accordion__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 18.75rem;
  }
}

.pagination-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding-bottom: 1rem;
}
@media screen and (min-width:768px) {
  .pagination-section {
    gap: 1.25rem;
  }
}
.pagination-section span,
.pagination-section a {
  font-family: "Axiforma";
  font-size: 0.9375em;
  line-height: 1.6;
  font-weight: 400;
  display: inline-block;
  color: #636466;
  text-decoration: none;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}
.pagination-section span.current,
.pagination-section a.current {
  border-radius: 50%;
  background-color: #015750;
  color: #F5F5F5;
}
.pagination-section a {
  cursor: pointer;
}
.pagination-section a:hover {
  color: #015750;
}
.pagination-section .pagination__btn {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width:480px) {
  .pagination-section .pagination__btn {
    flex-direction: row;
  }
}
.pagination-section .pagination__btn a {
  width: 2.25rem;
  height: 2.25rem;
}
.pagination-section .pagination__btn a svg {
  width: 100%;
}
.pagination-section .pagination__btn a:hover svg path {
  fill: #636466;
}

.bf.input {
  position: relative;
  height: 3.25rem;
  width: 100%;
}
.bf.input .input__wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (min-width:480px) {
  .bf.input .input__wrap {
    gap: 0.5rem;
  }
}
.bf.input input {
  font-size: 0.875em;
  line-height: 1.4285714286;
  font-family: "Axiforma";
  font-weight: 400;
  color: #F5F5F5;
  flex: 1;
  height: 3.25rem;
  position: relative;
  padding: 1.3125rem 1rem 0.25rem 1rem;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #F5F5F5;
  border-left: 1px solid #F5F5F5;
  border-radius: 0;
  opacity: 0.65;
}
.bf.input input:focus-visible, .bf.input input:not(:placeholder-shown) {
  background-color: #8DD9BF;
  border-bottom: 3px solid #F5F5F5;
  border-left: 1px solid #F5F5F5;
  color: #262053;
  transition: all 0.2s ease-in-out;
}
.bf.input input:focus-visible + label, .bf.input input:not(:placeholder-shown) + label {
  top: 0.875rem;
  color: #262053;
}
.bf.input label {
  font-size: 0.875em;
  line-height: 1.4285714286;
  font-family: "Axiforma";
  font-weight: 400;
  color: #F5F5F5;
  width: 100%;
  pointer-events: none;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.65;
}
.bf.input .field-error {
  font-size: 0.75em;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Axiforma";
  background-color: #E0E257;
  border-radius: 0.1875rem;
  color: #262053;
  margin: 0.5rem 0 0.25rem 0;
  padding: 0.0625rem 0.375rem;
  width: auto;
  display: none;
}
.bf.input.input__error label {
  color: #262053;
}
.bf.input.input__error .field-error {
  display: inline-block;
}
.bf.input button {
  width: 3.25rem;
  height: 3.25rem;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
}
.bf.input button svg {
  width: 100%;
}
.bf.input button svg path {
  fill: #015750;
}



.section.section--grantee.section--granteecards .grant-error{
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.4;
  font-weight: 500;
  color: #F5F5F5;
  font-family: "Axiforma";
  margin-bottom: 0;
}

.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__title button span,.grantee-infographic .grantee-infographic__cnt .accordion .accordion__item .accordion__content a{
  font-family: "Axiforma";
  // @include getType('caption-axiforma');
}

/* Style for the loading overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it appears above other content */
}

.loading-spinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Spin animation */
  position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.htmx-request{
  display: block !important;
}