/* _grants-grid.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Component: Grants Grid
------------------------------------------------------------------------ */

.grants-grid {
  .grants-grid__inner {
    @include container-narrow;
    padding-block: var(--base-9) var(--base-12);
    display: grid;
    
    @for $i from 1 through 10 {
      > *:nth-child(#{$i}) {
        z-index: #{11 - $i};
      }
    }

    @include breakpoint(sm-md) {
      grid-template-columns: 1fr 1fr;
    }
  
    &[data-columns="3"] {
      @include breakpoint(xl) {
        grid-template-columns: 1fr 1fr 1fr;
  
        .cardItem {
          padding: var(--base-6);
        }
      }
  
      @include breakpoint(xxl) {
        .cardItem {
          padding: var(--base-9);
        }
      }
    }
  }
}