/* _highlight.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Component: Highlight
  See templates/_macros/02_components/_highlight.twig for markup
------------------------------------------------------------------------ */

// Theme
.blockHighlight {
  --color-highlight--primary: var(--color-teal-100);
  --color-highlight--secondary: var(--color-navy-50);
  --color-highlight--tertiary: var(--color-grey-150);
}

[data-theme-color="green"] {
  .blockHighlight {
    --color-highlight--primary: var(--color-program-green-100);
  }
}

[data-theme-color="plum"] {
  .blockHighlight {
    --color-highlight--primary: var(--color-program-plum-100);
  }
}

[data-theme-color="marigold"] {
  .blockHighlight {
    --color-highlight--primary: var(--color-program-marigold-100);
  }
}

[data-is-reversed="true"] {
  .blockHighlight {
    --color-highlight--primary: var(--color-teal-25);
    --color-highlight--secondary: var(--color-grey-25-65);
    --color-highlight--tertiary: var(--color-grey-25);
  }
}


.blockHighlight {
  @include container-inner;
  
  // Stats
  &.blockHighlight--stats {
    padding-block: var(--base-7) var(--base-13);

    strong {
      font-weight: 500;
    }

    i {
      font-style: italic;
    }

    .blockHighlight__heading {
      margin-block-end: var(--base-8);
      color: var(--color-highlight--tertiary);
      @include getType('h5-axiforma');
    }

    .blockHighlight__stats {
      display: grid;
      gap: var(--base-8);
    }

    .blockHighlight__stat {
      max-width: 34em;
      @include getType('detail-axiforma');

      .stat__header {
        margin-block-end: var(--base-3);
        display: flex;
        flex-direction: column-reverse;
        gap: var(--base-2);
      }

      h4 {
        color: var(--color-highlight--primary);
        @include getType('h3-axiforma');
      }

      h5 {
        color: var(--color-highlight--tertiary);
        @include getType('label');
      }

      p {
        color: var(--color-highlight--tertiary);
      }
    }

    .blockHighlight__attribution {
      margin-block-start: var(--base-8);
      max-width: 40em;
      color: var(--color-highlight--tertiary);
      @include getType('detail-axiforma');

      a {
        color: inherit;
        text-decoration-color: inherit;
        transition: text-decoration-color var(--transition) ease-in;

        @media (hover: hover) {
          &:hover {
            text-decoration-color: transparent;
            transition: text-decoration-color var(--transition-intermediate) ease-out;
          }
        }
      }
    }


    @include breakpoint(sm) {
      .blockHighlight__stats {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &[data-infographic="true"] {
      .blockHighlight__infograph {
        margin-block-end: var(--base-6);

        .image {
          img {
            height: auto;
          }
        }
      }

      @include breakpoint(md) {
        .blockHighlight__inner {
          display: grid;
          grid-template-columns: repeat(2,1fr);
          gap: var(--base-5);
        }

        .blockHighlight__infograph {
          margin-block-end: 0;
        }

        .blockHighlight__stats {
          grid-template-columns: 1fr;
        }
      }

      @include breakpoint(lg) {
        .blockHighlight__inner {
          gap: var(--base-9);
        }

        .blockHighlight__stat {
          @include getType('caption-axiforma');
    
          h4 {
            @include getType('h2-axiforma');
          }
        }
      }

      @include breakpoint(xl) {
        .blockHighlight__inner {
          gap: var(--base-12);
        }
      }
    }

    &:not([data-infographic="true"]) {
      @include breakpoint(md) {
        padding-block: var(--base-12) var(--base-22);
  
        .blockHighlight__heading {
          margin-block-end: var(--base-10);
        }
  
        .blockHighlight__stats {
          gap: var(--base-10);
        }
  
        .blockHighlight__stat {
          @include getType('caption-axiforma');
    
          h4 {
            @include getType('h2-axiforma');
          }
        }
  
        .blockHighlight__attribution {
          margin-block-start: var(--base-10);
        }
      }
  
      @include breakpoint(lg) {
        .blockHighlight__stats {
          column-gap: var(--base-22);
        }
      }
  
      @include breakpoint(xl) {
        .blockHighlight__stats {
          &[data-columns="3"] {
            grid-template-columns: repeat(3, 1fr);
            gap: var(--base-12);
          }
          &[data-columns="4"] {
            grid-template-columns: repeat(4, 1fr);
            gap: var(--base-9);
          }
        }
      }
    }
  }
}

[data-is-reversed="true"] {
  .blockHighlight.blockHighlight--stats {
    .blockHighlight__attribution {
      color: var(--color-highlight--secondary);
    }
  }
}