/* _opener.scss */
@use "../utils/_utils" as *;

// Colors
.blockOpener {
  --theme-color-primary: var(--color-teal-150);
  --theme-color-secondary: var(--color-teal-100);
  --theme-color-link: var(--color-teal-150);
}
body[data-theme-color="green"] {
  .blockOpener {
    --theme-color-primary: var(--color-program-green-150);
    --theme-color-secondary: var(--color-program-green-100);
    --theme-color-link: var(--color-program-green-100);
  }
}
body[data-theme-color="plum"] {
  .blockOpener {
    --theme-color-primary: var(--color-program-plum-150);
    --theme-color-secondary: var(--color-program-plum-100);
    --theme-color-link: var(--color-program-plum-100);
  }
}
body[data-theme-color="marigold"] {
  .blockOpener {
    --theme-color-primary: var(--color-program-marigold-100);
    --theme-color-secondary: var(--color-program-marigold-100);
    --theme-color-link: var(--color-program-marigold-150);
  }
}

.blockOpener {
  // Variables
  @mixin primaryHeadingType {
    @include getType('h3-axiforma');
    
    @include breakpoint('lg') {
      @include getType('h2-axiforma');
    }
  }
  @mixin primaryDescType {
    @include getType('h5-messina');
    
    @include breakpoint('xl') {
      @include getType('h3-messina');
    }
  }

  --transition-link-in: all var(--transition-intermediate) ease-out;
  --transition-link-out: all var(--transition) ease-in;

  // Container
  @include container;
  padding-block-start: var(--base-6);

  // Primary
  .blockOpener__primary {
    padding: var(--base-6);
    min-height: 296px;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--base-3);
    align-content: baseline;
    position: relative;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.35);
    background-color: var(--color-grey-25);

    .breadcrumb {
      --color-breadcrumb-primary: var(--color-navy-50);
    }

    .primary__heading {
      max-width: 18em;
      color: var(--theme-color-secondary);
      @include primaryHeadingType;
    }

    .primary__desc {
      max-width: 28em;
      color: var(--color-navy-100);

      a {
        color: var(--theme-color-secondary);
        transition: all var(--transition) ease-in;
        --transition-link-in: all var(--transition-intermediate) ease-out;

        @media (hover: hover) {
          &:hover {
            color: var(--color-navy-100);
            text-decoration-color: transparent;
            transition: var(--transition-link-in);
          }
        }
        
        &:focus-visible {
          outline: 0;
          outline: var(--outline-width) solid var(--color-focus);
          outline-offset: var(--outline-offset);
          transition: var(--transition-link-in);
        }
      }

      i {
        font-style: italic;
      }

      strong {
        font-weight: 400;
      }
    }
  }

  .media__caption {
    inset: auto 0 0 0;
    padding: var(--base-6);
    position: absolute;

    // Decorative triangle in top left corner
    &::after {
      content: '';
      top: 0;
      left: 0;
      width: var(--base-6);
      height: var(--base-6);
      position: absolute;
      background: linear-gradient(to bottom right, var(--theme-color-secondary) 0%, var(--theme-color-secondary) 50%, transparent 50%, transparent 100%);
    }

    // Background color layers
    .caption__background {
      inset: 0;
      position: absolute;

      &:nth-child(1) {
        background: #000;
        mix-blend-mode: color;
      }
      &:nth-child(2) {
        background: var(--theme-color-primary);
        mix-blend-mode: screen;
      }
      &:nth-child(3) {
        background: var(--theme-color-primary);
        mix-blend-mode: multiply;
      }
    }

    // Caption
    .caption__caption {
      max-width: 40em;
      display: block;
      position: relative;
      color: var(--color-grey-25);
      @include getType('detail-axiforma');
      font-size: 12px;

      a {
        color: inherit;
        transition: text-decoration-color var(--transition) ease-in;
        --transition-link-in: text-decoration-color var(--transition-intermediate) ease-out;

        @media (hover: hover) {
          &:hover {
            text-decoration-color: transparent;
            transition: var(--transition-link-in);
          }
        }
        
        &:focus-visible {
          outline: 0;
          outline: var(--outline-width) solid var(--color-focus);
          outline-offset: var(--outline-offset);
          transition: var(--transition-link-in);
        }
      }
    }
  }

  @include breakpoint(md) {
    .blockOpener__primary {
      padding: var(--base-9);
    }
  }

  @include breakpoint(lg) {
    position: relative;

    &::before {
      content: '';
      inset: 192px 0 0 -25vw;
      width: 200vw;
      position: absolute;
      background-color: var(--theme-color-primary);
    }

    .blockOpener__primary {
      .primary__heading {
        max-width: 15em;
      }

      .primary__graphic {
        display: none;
      }
    }
  }

  @include breakpoint(xl) {
    .blockOpener__primary {
      padding: var(--base-14);
      min-height: 392px;
    }
  }


  &--landing {
    // Primary
    .blockOpener__primary {
      .primary__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--base-12);
      }

      .primary__desc {
        @include primaryDescType;
      }

      .primary__nav {
        .nav__title {
          margin-block-end: var(--base-3);
          color: var(--color-navy-50);
          @include getType('caption-axiforma');
        }

        .nav__menu {
          ol {
            display: flex;
            flex-direction: column;
          }

          li {
            padding-block: var(--base-2);
            display: inline;
          }

          a {
            position: relative;
            color: var(--theme-color-link);
            @include getType('action');
            transition: var(--transition-link-out);

            &::after {
              content: '';
              inset: auto 0 0 0;
              height: 1px;
              position: absolute;
              background-color: transparent;
              transition: var(--transition-link-out);
            }
            
            @media (hover: hover) {
              &:hover {
                &::after {
                  background-color: var(--theme-color-link);
                  transition: var(--transition-link-in);
                }
              }
            }
            
            &:focus-visible {
              outline: 0;
              outline: var(--outline-width) solid var(--color-focus);
              outline-offset: var(--outline-offset);
              transition: var(--transition-link-in);
            }
          }
        }
      }

      .primary__graphic {
        inset: auto auto 0 calc((100vw - 100%) / -2);
        width: 100vw;
        height: 120px;
        position: absolute;
        background-color: var(--theme-color-primary);
        z-index: -1;

        &::before,
        &::after {
          content: '';
          top: -104px;
          height: 104px;
          position: absolute;
        }

        &::before {
          right: 0;
          width: 104px;
          background: linear-gradient(to top left, var(--color-grey-35) 0%, var(--color-grey-35) 50%, transparent 50%, transparent 100%);
        }

        &::after {
          left: 0;
          width: 100vw;
          background: linear-gradient(to top right, var(--theme-color-primary) 0%, var(--theme-color-primary) 50%, transparent 50%, transparent 100%);
        }
      }
    }

    // Media
    .blockOpener__media {
      margin-inline: var(--neg-base-5);
      position: relative;

      .image {
        aspect-ratio: 4 / 3;
        display: block;
        position: relative;
        overflow: hidden;
    
        img {
          inset: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
        }
      }
    }

    @include breakpoint(sm) {
      .blockOpener__primary {
        .primary__nav:only-child {
          ol {
            margin: 0 var(--neg-base-2);
            flex-direction: row;
            flex-wrap: wrap;

            li {
              padding-inline: var(--base-2);
            }
          }
        }
      }
    }

    @include breakpoint(md) {
      .blockOpener__primary {
        gap: var(--base-5);

        .primary__wrapper {
          &[data-columns="2"] {
            grid-template-columns: 1fr 1fr;
          }
          gap: var(--base-6);
        }

        .primary__graphic {
          height: 32px;
        }
      }

      .blockOpener__media {
        margin-inline: var(--neg-base-9);

        .image {
          aspect-ratio: 9 / 4;
        }
      }
    }

    @include breakpoint(lg) {
      .blockOpener__primary {
        .primary__wrapper {
          gap: 0;
        }

        // If description and primary nav are present
        .primary__desc:not(:only-child) {
          padding-inline-end: var(--base-6);
        }

        .primary__desc + .primary__nav {
          padding-inline-start: var(--base-6);
          border-left: 1px solid var(--color-grey-50);
        }
      }

      .blockOpener__media {
        margin-inline: 0;
      }
    }

    @include breakpoint(xl) {
      .blockOpener__primary {
        .primary__wrapper {
          padding-top: var(--base-5);
        }

        // If description and primary nav are present
        .primary__desc:not(:only-child) {
          padding-inline-end: var(--base-14);
        }

        .primary__desc + .primary__nav {
          padding-inline-start: var(--base-14);
        }
      }
    }
  }

  &--bio {
    // Variables
    @mixin primaryDescType {
      @include getType('caption-messina');
      
      @include breakpoint('lg') {
        @include getType('h4-messina');
      }
    }
      
    // Primary
    .blockOpener__primary {
      // Wrapper
      .primary__wrapper {
        display: flex;
        flex-direction: column;

        > * {
          &:not(:last-child) {
            margin-block-end: var(--base-3);
          }
        }
      }

      // Description
      .primary__desc {
        @include primaryDescType;

        i {
          display: block;
        }
      }

      // Tags
      .primary__tags {
        margin-top: var(--base-4);
      }

      // Media
      .primary__media {
        margin-block-start: var(--base-7);
        position: relative;

        .image {
          aspect-ratio: 3 / 2;
          display: block;
          position: relative;
          overflow: hidden;
      
          img {
            inset: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
          }
        }
      }

      .primary__graphic {
        inset: auto auto 0 calc((100vw - 100%) / -2);
        width: 100vw;
        height: 100px;
        position: absolute;
        background: linear-gradient(to top right, var(--theme-color-primary) 0%, var(--theme-color-primary) 50%, transparent 50%, transparent 100%);
        z-index: -1;

        &::before {
          content: '';
          right: 0;
          width: 104px;
          height: 100px;
          position: absolute;
          background: linear-gradient(to top left, var(--color-grey-35) 0%, var(--color-grey-35) 50%, transparent 50%, transparent 100%);
        }
      }

      @include breakpoint(md) {
        grid-template-columns: 1fr 1fr;
        gap: 0;
  
        .primary__wrapper {
          padding-inline-end: var(--base-5);
        }
  
        .primary__tags {
          margin-top: auto;
        }
  
        .primary__media {
          margin-block-start: 0;
        }
      }

      @include breakpoint(lg) {
        .primary__wrapper {
          margin-inline-end: var(--base-12);
  
          > * {
            &:not(:last-child) {
              margin-block-end: var(--base-5);
            }
          }
        }
      }
    }
  }

  &--post {
    // Variables
    @mixin primaryHeadingType {
      @include getType('h3-axiforma');
    
      @include breakpoint('lg') {
        @include getType('h2-axiforma');
      }
    }

    padding-block-start: 0;

    // Primary
    .blockOpener__primary {
      @media screen and (max-width: 48rem) {
        padding-block-end: var(--base-9);
      }

      min-height: auto;
      flex-direction: column;
      box-shadow: none;
      background-color: transparent;

      // Heading
      .primary__heading {
        @include primaryHeadingType;
      }

      // Published Date
      .primary__published-date {
        margin-block-start: var(--base-2);
        color: var(--color-navy-50);
        @include getType('caption-axiforma');
      }

      // Tags
      .primary__tags {
        margin-block-start: var(--base-2);
      }
    }

    // Media
    .blockOpener__media {
      margin-inline: var(--neg-base-5);
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.50);

      figure {
        position: relative;
      }

      .image {
        aspect-ratio: 4 / 3;
        display: block;
        position: relative;
        overflow: hidden;
      
        img {
          inset: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
        }
      }
    }

    @include breakpoint(md) {
      .blockOpener__media {
        margin-inline: var(--neg-base-9);

        .image {
          aspect-ratio: 9 / 4;
        }
      }
    }
    
    @include breakpoint(lg) {
      &::before {
        display: none;
      }

      .blockOpener__media {
        margin-inline: 0;
      }
    }
  }

  &--home {
    // Variables
    @mixin primaryHeadingType {
      @include getType('h3-axiforma');
      
      @include breakpoint('md') {
        @include getType('h2-axiforma');
      }

      @include breakpoint('lg') {
        @include getType('h1-axiforma');
      }
    }
    @mixin primaryDescType {
      @include getType('h5-messina');
      
      @include breakpoint('lg') {
        @include getType('h3-messina');
      }
    }

    padding-top: 0;

    // Primary
    .blockOpener__primary {
      padding: 0;
      gap: 0;
      box-shadow: none;

      // Wrapper
      .primary__wrapper {
        padding: var(--base-7) var(--base-6) var(--base-9) var(--base-6);
        display: flex;
        flex-direction: column;
        gap: var(--base-5);
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.35);
      }

      // Heading
      .primary__heading {
        @include primaryHeadingType;
      }

      // Description
      .primary__desc {
        @include primaryDescType;
      }

      // Action
      .primary__action {
        margin-top: var(--base-2);
      }

      // Media
      .primary__media {
        figure {
          position: relative;
        }

        .image {
          aspect-ratio: 5 / 4;
          display: block;
          position: relative;
          overflow: hidden;
        
          img {
            inset: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
          }
        }

        .media__caption {
          .pattern {
            display: none;
          }
        }
      }

      .primary__graphic {
        inset: auto auto 0 calc((100vw - 100%) / -2);
        width: 100vw;
        height: 160px;
        position: absolute;
        background-color: var(--theme-color-primary);
        z-index: -1;

        &::before,
        &::after {
          content: '';
          top: -100px;
          height: 100px;
          position: absolute;
        }

        &::before {
          right: 0;
          width: 100px;
          background: linear-gradient(to top left, var(--color-grey-35) 0%, var(--color-grey-35) 50%, transparent 50%, transparent 100%);
        }

        &::after {
          left: 0;
          width: 100vw;
          background: linear-gradient(to top right, var(--theme-color-primary) 0%, var(--theme-color-primary) 50%, transparent 50%, transparent 100%);
        }
      }
    }

    @include breakpoint(md) {
      .blockOpener__primary {
        .primary__wrapper {
          padding: var(--base-11) var(--base-9) var(--base-14) var(--base-9);
        }

        .primary__heading {
          max-width: 14em;
        }

        .primary__graphic {
          &::before,
          &::after {
            top: -262px;
            height: 262px;
          }

          &::before {
            width: calc(100vw - 80px);
          }

          &::after {
            width: 100vw;
          }
        }
      }
    }

    @include breakpoint(lg) {
      &::before {
        display: none;
      }

      .blockOpener__primary {
        grid-template-columns: 1fr 1fr;
        background-color: transparent;

        .primary__wrapper {
          margin-block: var(--base-18) var(--base-11);
          padding-block: var(--base-15) var(--base-18);
          gap: var(--base-6);
          align-self: start;
          background-color: var(--color-grey-25);
          z-index: 5;
        }

        .primary__action {
          margin-top: auto;

          .action {
            margin-top: 60px;
          }
        }

        .primary__media {
          margin-inline-start: var(--neg-base-16);

          figure {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: static;

            > div {
              padding-top: 110%;
              width: 100%;
              position: relative;

              &::before {
                content: '';
                inset: auto 0 0 0;
                position: absolute;
                height: var(--base-12);
                background: linear-gradient(to top left, var(--theme-color-primary) 0%, var(--theme-color-primary) 50%, transparent 50%, transparent 100%);
                z-index: 1;
              }
              
              &::after {
                content: '';
                inset: 0 auto 0 0;
                position: absolute;
                width: var(--base-12);
                background: linear-gradient(to bottom right, var(--color-grey-25) 0%, var(--color-grey-25) 50%, transparent 50%, transparent 100%);
              }
            }
          }

          .image {
            inset: 0;
            position: absolute;
            aspect-ratio: auto;
            z-index: 4;
          }

          .media__caption {
            padding: var(--base-10) 0 0 0;
            width: calc(100% - 252px);
            position: static;

            &::after {
              display: none;
            }

            .caption__background {
              display: none;
            }

            .caption__caption {
              max-width: 100%;
              text-align: right;

              .pattern {
                inset: auto auto 0 -300px;
                width: 300px;
                height: 300px;
                display: block;
                position: absolute;

                &::after {
                  content: "";
                  bottom: 0;
                  left: 0;
                  width: 100px;
                  height: 100px;
                  position: absolute;
                  background: linear-gradient(to top right, var(--theme-color-secondary) 0%, var(--theme-color-secondary) 50%, transparent 50%, transparent 100%);
                }
              }
            }
          }
        }

        .primary__graphic {
          display: block;

          &::before,
          &::after {
            top: -400px;
            height: 400px;
          }
        }
      }
    }

    @include breakpoint(xl) {
      .blockOpener__primary {
        .primary__wrapper {
          padding-inline: var(--base-14);
        }
      }
    }
  }

  &--grantee {
    .blockOpener__content {
      padding-block-start: var(--base);

      .primary__desc {
        @include getType('caption-messina');
      }

      .content__meta {
        margin-block-start: var(--base-10);

        .details[data-variant="tags"] {
          margin-block-start: var(--base-4);
        }
  
        .action {
          margin-block-start: var(--base-4);
        }
      }
    }

    // Media
    .primary__media {
      margin-block-start: var(--base-7);
      position: relative;

      .image {
        aspect-ratio: 3 / 2;
        display: block;
        position: relative;
        overflow: hidden;
    
        img {
          inset: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
        }
      }
    }

    @include breakpoint(md) {
      .blockOpener__content {
        padding-block-start: var(--base-2);
        
        .primary__desc {
          @include getType('h5-messina');
        }
      }
    }

    @include breakpoint(lg) {
      .blockOpener__content {
        padding-top: var(--base-6);
        gap: var(--base-12);
      }
    }

    @include breakpoint(xl) {
      .blockOpener__content {
        gap: var(--base-28);
        
        .primary__desc {
          @include getType('subhead');
        }
      }
    }

    &:not([data-image="true"]) {
      @include breakpoint(md) {
        .blockOpener__content {
          .content__meta {
            display: flex;
            align-items: flex-end;
  
            .meta__details {
              margin-inline-end: var(--base-10);
            }
          }
        }
      }

      @include breakpoint(lg) {
        .blockOpener__content {
          display: grid;
          grid-template-columns: 1fr 1fr;
  
          .content__meta {
            margin-block-start: 0;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            position: relative;
  
            .meta__details {
              margin-inline-end: 0;
            }
          }
  
          .primary__desc + .content__meta {
            &::before {
              content: '';
              inset: 0 auto 0 var(--neg-base-6);
              width: 1px;
              position: absolute;
              background-color: var(--color-grey-50);
            }
          }
        }
      }

      @include breakpoint(xl) {
        .blockOpener__content {
          .primary__desc + .content__meta {
            &::before {
              content: '';
              inset: 0 auto 0 var(--neg-base-14);
            }
          }
        }
      }
    }

    &[data-image="true"] {
      @include breakpoint(md) {
        .blockOpener__primary {
          grid-template-columns: 1fr 1fr;
          gap: var(--base-6);
        }
  
        .breadcrumb {
          grid-column: 1 / -1;
        }

        .primary__media {
          margin-block-start: 0;
        }
      }
    }
  }
}


// Angle
.openerAngle {
  position: relative;
  z-index: -1;

  .angle {
    inset: 0 0 auto 0;
    position: absolute;

    &::before {
      content: '';
      inset: 0 0 auto 0;
      height: var(--base-40);
      position: absolute;
      background-color: var(--color-teal-150);
    }

    svg {
      margin-block-start: var(--base-40);
      width: 100%;
      height: auto;
      display: block;
      color: var(--color-teal-150);
    }
  }
}