/* _pagination.scss */
@use "../utils/_utils" as *;
@use "sass:math";
@use "sass:meta";

/* ---------------------------------------------------------------------
  Pagination: structure
------------------------------------------------------------------------ */
@mixin paginationControls($selector,$default:true,$colors...) {
    
    $icon-size: 36px;

    #{$selector} {
        position: relative;

        &-nav {
            @include flexParent();
            @include alignItems(center);
            font-size: 1rem;
    
            &-item {
                @include flexChild();
                pointer-events: none;
            }
    
            &-button {
                border: none;
                -webkit-appearance: none;
                display: block;
                pointer-events: initial;
    
                &--prev {
                    border-right: 1px solid transparent;
                }
    
                &--next {
                    border-left: 1px solid transparent;
                }

                &--current {
                    pointer-events: none;
                }

                &:hover {
                    cursor: pointer; 
                }

            }
    
            &-label,
            &-icon {
                pointer-events: none;
            }
    
            &-label {
                @include visuallyHide;      
            }
    
            &-icon {
                display: block;
                height: $icon-size;
                width: $icon-size;
            }
    
        }

    }

    @if $default != false {
		@include paginationControls--default($selector,$colors...);
	}


}

/* -------------------------------------------------------------------------------
 Pagination: Default Presentation
---------------------------------------------------------------------------------- */
@mixin paginationControls--default($selector,$colors...) {

    $color-count: length($colors);
    // Define additional colors as needed
    $color-primary: if($color-count >= 1,nth($colors,1),null);
    $color-secondary: if($color-count >= 2,nth($colors,2),null);
    $color: if($color-count >= 3,nth($colors,3),null);

    #{$selector} {

    }

}