/* _prefooter-form.scss */
@use "../utils/_utils" as *;

.prefooterInquiry {
  --color-form--primary: var(--color-teal-100);
}
[data-theme-color="green"] {
  .prefooterInquiry {
    --color-form--primary: var(--color-program-green-100);
  }
}
[data-theme-color="plum"] {
  .prefooterInquiry {
    --color-form--primary: var(--color-program-plum-100);
  }
}
[data-theme-color="marigold"] {
  .prefooterInquiry {
    --color-form--primary: var(--color-program-marigold-100);
  }
}

.prefooterInquiry {
  @include container-narrow;
  padding-block: var(--base-9);

  h2 {
    margin-block-end: var(--base-4);
    color: var(--color-form--primary);
    @include getType('h3-axiforma');
  }

  .prefooterInquiry__description {
    max-width: 34em;
    @include getType('caption-messina');
  }

  @include breakpoint(md) {
    padding-block-end: var(--base-12);
  }

  @include breakpoint(lg) {
    h2 {
      @include getType('h2-axiforma');
    }
    .prefooterInquiry__description {
      @include getType('subhead');
    }
  }

  @include breakpoint(xl) {
    padding-block-end: var(--base-18);
  }
}

.prefooterForm {
  .prefooterForm__description {
    @include container-narrow;
    padding-block-end: var(--base-9);
    @include getType('body');
    
    p {
      max-width: 35em;

      &:not(:last-child) {
        margin-block-end: 1em;
      }

      strong {
        font-weight: 400;
      }

      i {
        font-style: italic;
      }
    }
  }

  @include breakpoint(md) {
    .prefooterForm__description {
      @include getType('subhead');
    }
  }

  @include breakpoint(xl) {
    padding-block-end: var(--base-18);
  }
}