/* _quote.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Component: Quote
  See templates/_macros/02_components/_quote.twig for markup
------------------------------------------------------------------------ */

.quote {
  --color-quote--primary: var(--color-teal-100);
  --color-quote--secondary: var(--color-navy-50);
  --color-quote--tertiary: var(--color-grey-150);
  --color-quote--background: var(--color-grey-25);
}

[data-theme-color="green"] {
  .quote {
    --color-quote--primary: var(--color-program-green-100);
  }
}

[data-theme-color="plum"] {
  .quote {
    --color-quote--primary: var(--color-program-plum-100);
  }
}

[data-theme-color="marigold"] {
  .quote {
    --color-quote--primary: var(--color-program-marigold-100);
  }
}

.quote {
  @include container-inner;
  padding-block: var(--base-9);
  color: var(--color-quote--secondary);

  a {
    color: inherit;
    text-decoration-color: inherit;
    transition: color var(--transition) ease-in,
                text-decoration-color var(--transition) ease-in;

    @media (hover: hover) {
      &:hover {
        color: var(--color-quote--primary);
        transition: color var(--transition-intermediate) ease-out,
                text-decoration-color var(--transition-intermediate) ease-out;
      }
    }
  }

  // Quote
  .quote__quotation {
    padding-block-start: var(--base-10);
    max-width: 30em;
    position: relative;
    @include getType('h5-messina');

    &::before,
    &::after {
      content: '';
      inset: 0 auto auto 0;
      width: 0;
      height: 0;
      position: absolute;
      border-style: solid;
      border-width: var(--base-6) var(--base-6) 0 0;
      border-color: var(--color-quote--primary) transparent transparent transparent;
    }

    &::after {
      left: var(--base-7);
    }

    p + p {
      margin-block-start: .75em;
    }

    strong {
      font-weight: 400;
    }

    i {
      font-style: italic;
    }
  }

  // Attribution
  .quote__attribution {
    margin-block-start: var(--base-7);
    display: flex;
    flex-direction: column;

    .details {
      .image {
        margin-block-end: var(--base-2);
      }
    }

    .attribution__secondary {
      @include getType('detail-axiforma');

      &:nth-child(3) {
        margin-block-start: var(--neg-base);
        margin-top: -5px;
      }
    }
  }

  @include breakpoint(md) {
    padding-block: var(--base-12) var(--base-10);
  }

  // Without image
  &:not([data-with-image="true"]) {
    @include breakpoint(md) {  
      .quote__quotation {
        padding-block-start: var(--base-10);
        @include getType('h4-messina');
      }
  
      .quote__attribution {
        margin-block-start: var(--base-10);
      }
    }

    @include breakpoint(lg) {
      .quote__quotation {
        padding-block-start: var(--base-9);
        @include getType('h3-messina');
      }
    }
  }

  // With image
  &[data-with-image="true"] {
    .quote__image {
      .image {
        aspect-ratio: 5 / 4;
        display: block;
        position: relative;
        overflow: hidden;
    
        img {
          inset: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
        }
      }

      .quote__pattern-and-caption {
        display: none;
      }
    }

    .quote__inner {
      padding: var(--base-6) var(--base-6) var(--base-12) var(--base-6);
      position: relative;
      box-shadow: var(--shadow-deep--light);
      overflow: hidden;

      &:before,
      &:after {
        content: "";
        inset: calc(100% - 152px) 0 0 0;
        position: absolute;
        z-index: -1;
        mix-blend-mode: multiply;
      }

      &:before {
        background: linear-gradient(to top right, var(--color-grey-25) 0%, var(--color-grey-25) 50%, transparent 50%, transparent 100%);
      }

      &:after {
        left: var(--base-11);
        background: linear-gradient(to top left, var(--color-grey-25) 0%, var(--color-grey-25) 50%, transparent 50%, transparent 100%);
      }
    }

    @include breakpoint(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .quote__image {
        order: 2;
        margin-inline-start: var(--neg-base-10);
        max-height: 100%;
        display: flex;
        flex-direction: column;

        .image {
          aspect-ratio: auto;
          height: 100%;
          clip-path: polygon(var(--base-8) 0, 100% 0, 100% calc(100% - var(--base-8)), 0% 100%);
          z-index: 1;
        }
        
        // Caption
        .quote__pattern-and-caption {
          margin-inline-start: var(--base-18);
          padding: var(--base-2) 0 0 var(--base-6);
          display: flex;
          justify-content: flex-end;
          position: relative;
          color: var(--color-quote--tertiary);
          @include getType('detail-axiforma');
          font-size: 12px;
          text-align: right;

          .caption {
            max-width: 31.5em;

            strong {
              font-weight: 500;
            }
          }
        }

        .pattern {
          inset: auto auto 0 -225px;
          width: 225px;
          height: 225px;
          display: block;
          position: absolute;

          svg {
            width: 100%;
            height: 100%;
          }

          &::after {
            content: "";
            bottom: 0;
            left: 0;
            width: 75px;
            height: 75px;
            position: absolute;
            background: linear-gradient(to top right, var(--color-quote--primary) 0%, var(--color-quote--primary) 50%, transparent 50%, transparent 100%);
          }
        }
      }

      .quote__inner {
        order: 1;
        margin-block: var(--base-8);
        position: relative;
        background-color: var(--color-quote--background);
        z-index: 2;

        &::after {
          left: calc(100% - 152px);
        }
      }
    }

    @include breakpoint(lg) {
      padding-block: var(--base-18);
  
      .quote__image {
        margin-block-end: var(--neg-base-16);
        
        .quote__pattern-and-caption {
          padding-block-start: var(--base-4);
        }

        .pattern {
          left: -209px;
        }
      }

      .quote__inner {
        margin-block: var(--base-12);
        padding: var(--base-12) var(--base-10);

        &:before,
        &:after {
          inset: calc(100% - 228px) 0 0 0;
        }

        &::after {
          left: calc(100% - 228px);
        }
      }

      .quote__quotation {
        @include getType('h4-messina');
      }
    }


    @include breakpoint(xl) {
      .quote__image {
        margin-inline-start: var(--neg-base-16);

        .image {
          clip-path: polygon(var(--base-12) 0, 100% 0, 100% calc(100% - var(--base-12)), 0% 100%);
        }

        .pattern {
          left: -120px;
        }
      }

      .quote__inner {
        padding: var(--base-14) var(--base-14) var(--base-12) var(--base-14);
      }

      .quote__quotation {
        @include getType('h4-messina');
      }

      .quote__attribution {
        margin-block-start: var(--base-10);
      }
    }

    @include breakpoint(xxl) {
      .quote__image {
        .pattern {
          width: 300px;
          height: 300px;

          &::after {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}