/* _quote.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Component: Quote
  See templates/_macros/02_components/_quote.twig for markup
------------------------------------------------------------------------ */

.quote {
  --color-quote--primary: var(--color-teal-100);
  --color-quote--secondary: var(--color-navy-50);
}

[data-theme-color="green"] {
  .quote {
    --color-quote--primary: var(--color-program-green-100);
  }
}

[data-theme-color="plum"] {
  .quote {
    --color-quote--primary: var(--color-program-plum-100);
  }
}

[data-theme-color="marigold"] {
  .quote {
    --color-quote--primary: var(--color-program-marigold-100);
  }
}

.quote {
  @include container-narrow;
  padding-block: var(--base-9);
  color: var(--color-quote--secondary);

  // Quote
  .quote__quotation {
    padding-block-start: var(--base-10);
    max-width: 30em;
    position: relative;
    @include getType('h5-messina');

    &::before,
    &::after {
      content: '';
      inset: 0 auto auto 0;
      width: 0;
      height: 0;
      position: absolute;
      border-style: solid;
      border-width: var(--base-6) var(--base-6) 0 0;
      border-color: var(--color-quote--primary) transparent transparent transparent;
    }

    &::after {
      left: var(--base-7);
    }

    p + p {
      margin-block-start: .75em;
    }

    strong {
      font-weight: 400;
    }

    i {
      font-style: italic;
    }

    a {
      color: inherit;
      text-decoration-color: inherit;
      transition: color var(--transition) ease-in,
                  text-decoration-color var(--transition) ease-in;

      @media (hover: hover) {
        &:hover {
          color: var(--color-quote--primary);
          transition: color var(--transition-intermediate) ease-out,
                  text-decoration-color var(--transition-intermediate) ease-out;
        }
      }
    }
  }

  // Attribution
  .quote__attribution {
    margin-block-start: var(--base-7);
    display: flex;
    flex-direction: column;

    .attribution__secondary {
      margin-block-start: var(--base-2);
      @include getType('detail-axiforma');

      &:nth-child(3) {
        margin-block-start: var(--neg-base);
        margin-top: -5px;
      }
    }
  }

  @include breakpoint(md) {
    padding-block: var(--base-12) var(--base-10);

    .quote__quotation {
      padding-block-start: var(--base-10);
      @include getType('h4-messina');
    }

    .quote__attribution {
      margin-block-start: var(--base-10);
    }
  }

  @include breakpoint(lg) {
    .quote__quotation {
      padding-block-start: var(--base-9);
      @include getType('h3-messina');
    }
  }
}