/* _quote.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Component: Quote
  See templates/_macros/02_components/_quote.twig for markup
------------------------------------------------------------------------ */

.quote {
  --color-quote-primary: var(--color-primary-teal-100);
  --color-quote-secondary: var(--color-tertiary-grey-150);

  @include container;
  margin-top: var(--base-10);
  margin-bottom: var(--base-10);
  color: var(--color-quote-secondary);

  // Quote
  p {
    margin-bottom: var(--base-6);
    padding-top: var(--base-8);
    max-width: 30em;
    position: relative;
    @include getType('subhead');
    font-style: italic;

      // 25x25px triangles in upper left corner
    &::before,
    &::after {
      content: '';
      inset: 0 auto auto 0;
      width: 0;
      height: 0;
      position: absolute;
      border-style: solid;
      border-width: var(--base-5) var(--base-5) 0 0;
      border-color: var(--color-quote-primary) transparent transparent transparent;
    }

    &::after {
      left: var(--base-6);
    }
  }

  // Attribution
  .quote__attribution {
    display: flex;
    flex-direction: column;

    .details {
      margin-bottom: var(--base-2);
    }

    .attribution__secondary {
      @include getType('caption-axiforma');

      &:nth-child(3) {
        margin-top: -5px;
      }
    }
  }

  @include breakpoint(md) {
    p {
      margin-bottom: 2.5rem; // 40px
      padding-top: var(--base-10);
      @include getType('h3-messina');
    }
  }
}