<style>
.adminTip-label {
    color: #596673;
    font-weight: bold;
    margin-bottom: 5px;
}
.adminTip-box {
  background: #f3f7fc;
  margin-top: 0;
  padding: 1em;
  border-radius: 10px;
}
.adminTip-box--alt {
    background: #FFF;
    border: 3px solid #ebf2fa;
    color: var(--medium-dark-text-color);
}

.adminTip-box--details {
    margin-top: 20px;
    margin-left: 20px;
}
.adminTip-desc {
    margin-top: 0;
}
.adminTip-list {
    margin-left: 2em;
    list-style-type: disc;
}
</style>

{% set slug = element.owner.slug %}

{% switch slug %}

{% case 'homepage' %}
<div class="adminTip-box adminTip-box--alt">
    <p><strong>NOTE:</strong></p>
    <p>Three bio cards will be automatically drawn, at random, from the Staff entries.</p>
</div>
{% default %}
    <p></p>

{% endswitch %}