<style>
.adminTip-label {
    color: #596673;
    font-weight: bold;
    margin-bottom: 5px;
}
.adminTip-box {
  background: #f3f7fc;
  margin-top: 0;
  padding: 1em;
  border-radius: 10px;
}
.adminTip-box--details {
    margin-top: 20px;
    margin-left: 20px;
}
.adminTip-desc {
    margin-top: 0;
}
.adminTip-list {
    margin-left: 2em;
    list-style-type: disc;
}
</style>

<div class="adminTip-box">
    <p><strong>Figma Reference</strong></p>
   
    <details class="adminTip-box--details">
        <summary>Opener: Person</summary>
        <img src="{{ alias('@assetBasePath' ~ '/images/control-panel/opener-person.png') }}" /> 
    </details>
</div>