/* wireframe/_grantees.scss */
@use "../utils/_utils" as *;

// Grayscale
// --color-grey-200
// --color-grey-150
// --color-grey-100
// --color-grey-50
// --color-grey-25

@mixin block() {
    margin: 2em;
    padding: 2em;
    background: var(--color-grey-50);
    font-size: 1rem;
}

@mixin preheading() {
    margin-bottom: 1em;
    font-size: 0.9em;
    text-transform: uppercase;
}

@mixin heading() {
    margin-bottom: 1em;
    font-size: 2em;
}

@mixin support() {
    font-size: 1.5em;
}

@mixin cardImage() {
    flex-basis: 50%;
}

@mixin button($color: null) {
    $bg-color: if($color,$color, var(--color-grey-25));
    $text-color: if($color == 'null', var(--color-grey-50),var(--color-grey-25));
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 1em;
    padding: 1em;
    background: $bg-color;
    color: var(--color-grey-25);
    text-decoration: none;
}

@mixin explore() {
    margin-top: 3em;
    text-align: center;

    &--right {
        text-align: right;
    }

    &-support {
        @include support;
        margin-bottom: 2em;
    }

    &-button {
        @include button(var(--color-program-green-100));
    }
}

.blockCards {
    @include block;

    &-heading {
        @include heading;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -1em;
    }

    &-item {
        flex: 1;
        margin: 0 1em 2em 1em;
        background: var(--color-grey-25);

        &:first-child {
            flex-basis: 100%;
        }
    
        &:not(:first-child) {
            flex: 1;
        }
    }
}

.cardItem {
    @extend .blockCards-item;
    padding: 1em;

    &-preheading {
        @include preheading;
    }

    &-heading {
        @include heading;
    }

    &-button {
        @include button(var(--color-program-green-100));
    }

    &-duration {
        display: block;
    }

}

.blockGeneric {
    @include block;

    &-heading {
        @include heading;
    }

}