/* project.scss */

/* ---------------------------------------------------------------------
 Project-specific generic element declarations
------------------------------------------------------------------------ */
@use "utils/_utils" as *;

* {
	box-sizing: border-box;
}

html {
	-webkit-overflow-scrolling: touch;
	min-height: -webkit-fill-available;
	
	@media ( prefers-reduced-motion: no-preference ) {
		scroll-behavior: smooth;
	}

}

body {
	$max: map-get($breakpoints,'xl');
	min-height: -webkit-fill-available;
	overflow-x: hidden;
	background: var(--color-white);
	color: var(--color-grey-200);
	font-family: var(--ff-messina-serif);
	font-weight: 400;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;	
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

ol, ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

.viewport {
	&._is-debug::before {
		font-size: .75rem;
	}
}

.svg-defs {
	&._is-hidden {
		display: none;
	}
}

/* ---------------------------------------------------------------------
  Redactor Plugin Globals
------------------------------------------------------------------------ */
[class$="--redactor"] {

	p {
		margin: 20px 0;
	}

	em {
		font-style: italic;
	}

	b, strong {
		font-weight: bold;
	}

	ul {
		margin: 20px;
		list-style: disc;
	}

	a:link,
	a:visited,
	a:hover,
	a:active {
		color: inherit;
	}
}

/* ---------------------------------------------------------------------
  Accessibility Skip
------------------------------------------------------------------------ */
.skip-link {
	border: 1px solid var(--color-grey-200);
	border-top: none;
	display: block;
	left: 50%;
	padding: 10px;
	position: absolute;
	z-index: 100;
	transform: translateY(-100%);
	transition: transform 0.3s;
	background: var(--color-grey-25);
	color: var(--color-grey-200);
	font-family: var(--ff-axiforma);
	font-weight: 700;

	@include breakpoint(sm) {
		font-size: 1.8rem;
		line-height: 1.33;
	}
}
  
.skip-link:focus {
	transform: translateY(0%);
}

.skip-link:focus-within {
	transform: translateY(0%);
}