/* _feed.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Module: Feed
  See templates/_macros/03_modules/_feed.twig for markup
------------------------------------------------------------------------ */

// Feed
.feed {
  padding-block-end: var(--base-9);

  .section-title {
    @include container-narrow;
  }

  .feed__grid {
    @include container-narrow;
    
    &[data-grid-style="grid"] {
      > * {
        position: relative;
      }
      
      @for $i from 1 through 60 {
        > *:nth-child(#{$i}) {
          z-index: #{60 - $i};
        }
      }
    }
  }

  @include breakpoint(sm) {
    .feed__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @include breakpoint(lg) {
    padding-block-end: var(--base-18);
    
    .feed__grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .feed__grid {
    &[data-grid-style="list"] {
      grid-template-columns: 1fr;
    }

    &[data-columns="4"] {
      &:not([data-grid-style="list"]) {
        @include breakpoint(xxl) {        
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
    }
  }
}