/* _page-section.scss */
@use "../utils/_utils" as *;

.pageSection {
  > *:first-child {
    &.blockBody {
      margin-block-start: var(--base-12);

      > *:first-child {
        &.blockBody__media {
          margin-block-start: var(--base-20);
        }
      }

      @include breakpoint(md) {
        > *:first-child {
          &.blockBody__media {
            margin-block-start: var(--base-23);
          }
        }
      }
  
      @include breakpoint(lg) {
        margin-block-start: var(--base-16);

        > *:first-child {
          &.blockBody__media {
            margin-block-start: var(--base-27);
          }
        }
      }
    }
  }
}