/* _program-tabs.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Module: Program Tabs
  See templates/_macros/03_modules/_program-tabs.twig for markup
------------------------------------------------------------------------ */

.program-tabs {
  --color-tabs--primary: var(--color-teal-25);
  --color-tabs--secondary: var(--color-grey-25);
  
  // --color-tabs--tertiary: var(--color-grey-50);
  --color-tabs--background: var(--color-teal-150);
  --color-tabs--highlight: var(--color-teal-100);
  // --color-tabs--hover: var(--color-navy-100);
  // --color-tabs--hover-background: var(--color-citrus-100);

  &[data-theme-color="green"] {
    --color-tabs--primary: var(--color-grey-25);
    --color-tabs--background: var(--color-program-green-150);
    --color-tabs--highlight: var(--color-program-green-100);
  }
  
  &[data-theme-color="plum"] {
    --color-tabs--primary: var(--color-grey-25);
    --color-tabs--background: var(--color-program-plum-100);
    --color-tabs--highlight: var(--color-program-plum-100);
  }
  &[data-theme-color="marigold"] {
    --color-tabs--primary: var(--color-navy-100);
    --color-tabs--background: var(--color-program-marigold-100);
    --color-tabs--highlight: var(--color-program-marigold-100);
  }
}

.program-tabs {
  --transition-tabs--in: all var(--transition-intermediate) ease-out;
  --transition-tabs--out: all var(--transition) ease-in;

  overflow: hidden;

  .angle {
    svg {
      width: 100%;
      height: auto;
      display: block;
      color: var(--color-tabs--background);
      transform: rotateY(180deg);
    }
  }

  .program-tabs__inner {
    @include container;
    padding-block: var(--base-32) var(--base-12);
    display: grid;
    align-items: flex-start;
    position: relative;

    &::before {
      content: '';
      inset: 0 auto 0 -100vw;
      width: 400vw;
      position: absolute;
      background: var(--color-tabs--background);
      z-index: -1;
    }
  }

  // Primary
  .program-tabs__primary {
    padding-block-end: var(--base-14);
    display: grid;
    grid-template-columns: 1fr;
  }

  // Intro
  .program-tabs__intro {
    grid-row-start: 1;
    grid-column-start: 1;
    color: var(--color-tabs--secondary);
    text-align: center;

    &._is-hidden {
      opacity: 0;
      transition: opacity var(--transition) ease-out;
    }
  }

  .program-tabs__preheading {
    margin-block-end: var(--base-4);
    @include getType('label');
  }

  .program-tabs__support {
    margin: 0 auto;
    max-width: 30em;
    @include getType('h5-messina');
  }

  // Cards
  .program-tabs__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-start: 1;
    grid-column-start: 1;
    align-items: flex-start;
  }

  .program-tabs__card {
    grid-row-start: 1;
    grid-column-start: 1;
    display: grid;
    grid-template-rows: 0fr;
    text-align: center;
    pointer-events: none;
    z-index: 5;

    .card__wrapper {
      padding-block-start: var(--base-6);
      overflow: hidden;
    }

    .card__inner {
      padding: 0 var(--base-6) var(--base-6) var(--base-6);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      background: var(--color-grey-25);
    }

    &._is-active {
      grid-template-rows: 1fr;
      pointer-events: auto;
      transition: grid-template-rows 250ms ease-out;

      .card__inner {
        opacity: 1;
        transition: opacity var(--transition-slow) ease-out;
        transition-delay: 250ms;
        transition-property: opacity;
      }
    }

    .image {
      margin-block: var(--neg-base-6) var(--base-7);
      width: 100%;
      aspect-ratio: 2 / 1;
      display: block;
      position: relative;
      overflow: hidden;
      box-shadow: var(--shadow-deep--light);
  
      img {
        inset: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
      }
    }

    .card__support {
      max-width: 20em;
      color: var(--color-navy-100);
      @include getType('h3-messina');
      @include getType('h4-messina');
    }

    .action {
      margin-top: var(--base-4);
    }

    .card__news {
      margin-block-start: var(--base-11);

      .news__preheading {
        margin-block-end: var(--base);
        color: var(--color-grey-150);
        @include getType('label');
      }

      .news__heading {
        margin-block-end: var(--base-2);
        display: block;
        color: var(--color-tabs--highlight);
        @include getType('h5-axiforma');
        font-size: 18px;
        text-decoration-color: transparent;
        transition: var(--transition-tabs--out);
        
        @media (hover: hover) {
          &:hover {
            text-decoration-color: inherit;
            transition: var(--transition-tabs--in);
          }
        }
      }

      .news__date {
        color: var(--color-grey-150);
        @include getType('detail-axiforma');
      }
    }
  }

  .program-tabs__card--desktop {
    display: none;
  }

  // Nav
  .program-tabs__item--primary + .program-tabs__item--secondary {
    margin-block-start: var(--base-6);
  }

  .program-tabs__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .program-tabs__label {
    margin-block-end: var(--base-4);
    display: inline-block;
    color: var(--color-tabs--primary);
    text-align: center;

    &.program-tabs__label--primary {
      @include getType('h4-axiforma');
    
      &._is-hidden {
        @include visuallyHide;
      }
    }

    &.program-tabs__label--secondary {
      @include getType('h5-axiforma');
      font-weight: 400;
    }

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }
  }

  // Angle
  .angle {
    margin-block-start: -1px;
  }


  @include breakpoint(md) {
    .program-tabs__inner {
      min-height: 700px;
      grid-template-columns: 1fr 1fr;
    }

    .program-tabs__intro {
      padding-inline-end: 56px;
      height: 370px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .program-tabs__support {
      @include getType('h4-messina');
    }

    .program-tabs__cards {
      position: relative;
      z-index: 5;

      .program-tabs__card {
        display: none;
      }
    }

    .program-tabs__card {
      .card__inner {
        min-height: 370px;
      }

      .card__support {
        @include getType('h5-messina');
      }
    }

    .program-tabs__nav {
      padding-block-start: 6px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-left: 1px solid var(--color-tabs--primary);
    }

    .program-tabs__item--primary + .program-tabs__item--secondary {
      margin-block-start: var(--base-16);
    }

    .program-tabs__label {
      position: relative;
  
      &::before {
        content: '';
        inset: -6px auto -2px var(--neg-base-14);
        width: var(--base-5);
        position: absolute;
        background-color: var(--color-grey-25);
        opacity: 0;
        transition: var(--transition-tabs--out);
      }

      &.program-tabs__label--primary {
        @include getType('h3-axiforma');
      }
    }

    .program-tabs__item {
      display: inline-block;
      padding-inline-start: var(--base-14);

      .program-tabs__card {
        inset: 0;
        margin-block-start: var(--neg-base-6);
        width: calc(50% - (var(--base-4) + 1px));
        display: grid;
        grid-template-rows: 1fr;
        position: absolute;
        
        .image {
          margin-block-start: var(--neg-base-5);
        }
      }

      @media (hover: hover) {
        &:hover {
          .program-tabs__label {
            &::before {
              opacity: 1;
              transition: opacity var(--transition-slow) ease-out;
            }
          }

          .program-tabs__card {
            pointer-events: auto;
            z-index: 5;

            .card__inner {
              opacity: 1;
              transition: opacity var(--transition-slow) ease-out;
            }
          }
        }
      }
    }

    .program-tabs__card {
      .card__inner {
        padding: 0 var(--base-9) var(--base-9) var(--base-9);
      }
    }
  }

  @include breakpoint(lg) {
    .program-tabs__inner {
      min-height: 800px;
    }

    .program-tabs__intro {
      height: 427px;
    }

    .program-tabs__label {
      &.program-tabs__label--primary {
        font-size: 44px;
      }

      &.program-tabs__label--secondary {
        @include getType('h4-axiforma');
      }
    }

    .program-tabs__support {
      @include getType('h3-messina');
    }

    .program-tabs__item {
      display: inline-block;
      padding-inline-start: var(--base-14);

      .program-tabs__card {
        width: calc(50% - ((var(--base-6) - 1px)));
      }
    }

    .program-tabs__card {
      .card__inner {
        min-height: 427px;
      }
    }
  }


  @include breakpoint(xl) {
    .program-tabs__item {
      .program-tabs__card {
        width: calc(50% - ((var(--base-9) - 1px)));
      }
    }

    .program-tabs__card {
      .card__inner {
        padding: 0 var(--base-12) var(--base-12) var(--base-12);
      }

      .card__support {
        @include getType('h4-messina');
      }

      .card__news {
        .news__heading {
          font-size: 20px;
        }
      }
    }
  }

  @include breakpoint(xxl) {
    .program-tabs__inner {
      min-height: 900px;
    }

    .program-tabs__intro {
      height: 454px;
    }

    .program-tabs__support {
      font-size: 44px;
    }

    .program-tabs__label {
      &.program-tabs__label--primary {
        @include getType('h2-axiforma');
      }
    }

    .program-tabs__card {
      .card__inner {
        padding: 0 var(--base-14) var(--base-14) var(--base-14);
        min-height: 454px;
      }

      .card__support {
        @include getType('h3-messina');
      }
    }
  }



  .program-tabs__label {
    transition: color var(--transition) ease-in;
  }
}


.blockOpener[data-theme-color="green"] {
  .blockOpener__primary {
    .primary__graphic {
      background-color: var(--color-program-green-150);
      // transition: background-color var(--transition) ease-in;

      &::after {
        background: linear-gradient(to top right, var(--color-program-green-150) 0%, var(--color-program-green-150) 50%, transparent 50%, transparent 100%);
        // transition: background var(--transition) ease-in;
      }
    }
  }
}

.blockOpener[data-theme-color="plum"] {
  .blockOpener__primary {
    .primary__graphic {
      background-color: var(--color-program-plum-100);
      // transition: background-color var(--transition) ease-in;

      &::after {
        background: linear-gradient(to top right, var(--color-program-plum-100) 0%, var(--color-program-plum-100) 50%, transparent 50%, transparent 100%);
        // transition: background var(--transition) ease-in;
      }
    }
  }
}

.blockOpener[data-theme-color="marigold"] {
  .blockOpener__primary {
    .primary__graphic {
      background-color: var(--color-program-marigold-100);
      // transition: background-color var(--transition) ease-in;

      &::after {
        background: linear-gradient(to top right, var(--color-program-marigold-100) 0%, var(--color-program-marigold-100) 50%, transparent 50%, transparent 100%);
        // transition: background var(--transition) ease-in;
      }
    }
  }
}