/* _actions.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Element: Action
  See templates/_macros/01_elements/_actions.twig for markup

  Variants: Button, Link
------------------------------------------------------------------------ */

.action {
    /* ---------------------------------------------------------------------
    Button & Link Shared Styles
    ------------------------------------------------------------------------ */
    --color-action-primary: var(--color-teal-150);
    --color-action-secondary: var(--color-grey-25);
    --color-action-primary-hover: var(--color-citrus-100);
    --color-action-secondary-hover: var(--color-navy-100);
    --transition-action-in: all var(--transition-intermediate) ease-out;
    --transition-action-out: all var(--transition) ease-in;

    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    @include getType('action');
    cursor: pointer;

    .action__icon {
        margin-left: 0.5rem; // 8px
        width: var(--icon-size);
        height: var(--icon-size);
        flex-shrink: 0;
    }

    // Icon only
    &[data-icon-only=true] {
        .action__text {
            @include totallyHide;
        }

        .action__icon {
            margin-left: 0;
        }
    }


    /* ---------------------------------------------------------------------
    Button
    ------------------------------------------------------------------------ */
    &--button {
        border-radius: var(--radius-action);
        transition: var(--transition-action-out);
        
        // With text
        &:not([data-icon-only=true]) {
            padding: var(--base-4) var(--base-6); // 16px 24px

            .action__icon {
                margin-top: -3px;
            }
        }

        // Icon only
        &[data-icon-only=true] {
            padding: var(--base-4); // 16px
        }

        // Colors
        &[data-is-reversed="false"] {
            background-color: var(--color-action-primary);
            color: var(--color-action-secondary);
        }

        &[data-is-reversed="true"] {
            background-color: var(--color-action-secondary);
            color: var(--color-action-primary);
        }

        // Hover
        @media (hover: hover){
            &:hover {
                box-shadow: var(--shadow-action);
                background-color: var(--color-action-primary-hover);
                color: var(--color-action-secondary-hover);
                transition: var(--transition-action-in);
            }
        }

        // Focus
        &:focus-visible {
            outline: var(--outline-width) solid var(--color-focus);
            outline-offset: var(--outline-offset);
            background-color: var(--color-action-primary-hover);
            color: var(--color-action-secondary-hover);
            transition: var(--transition-action-in);
        }

        &.action--audio {
            background-color: var(--color-action-primary);
            color: var(--color-action-secondary);

            .action__play,
            .action__pause {
                margin-inline-start: var(--base-2);
                width: 12px;
                height: 12px;
                display: flex;
                align-items: center;
                position: relative;
            }

            .action__play {
                justify-content: center;
                
                &::after {
                    content: '';
                    width: 10px;
                    height: 12px;
                    background-color: var(--color-action-secondary);
                    clip-path: polygon(100% 50%, 0 0, 0 100%);
                    transition: var(--transition-action-out);
                }
            }

            .action__pause {
                justify-content: space-around;

                &::before,
                &::after {
                    content: '';
                    width: 2px;
                    height: 11px;
                    background-color: var(--color-action-secondary);
                    transition: var(--transition-action-out);
                }
            }

            // Hover
            @media (hover: hover){
                &:hover {
                    background-color: var(--color-action-primary-hover);
                    color: var(--color-action-secondary-hover);
                    // transition: var(--transition-action-in);

                    .action__play {
                        &::after {
                            background-color: var(--color-action-secondary-hover);
                            transition: var(--transition-action-in);
                        }
                    }
        
                    .action__pause {
                        &::before,
                        &::after {
                            background-color: var(--color-action-secondary-hover);
                            transition: var(--transition-action-in);
                        }
                    }
                }
            }

            // Focus
            &:focus-visible {
                background-color: var(--color-action-primary-hover);
                color: var(--color-action-secondary-hover);
                // transition: var(--transition-action-in);
            }
        }
    }


    /* ---------------------------------------------------------------------
    Link
    ------------------------------------------------------------------------ */
    &--link {
        padding: var(--base-4) 0; // 16px 0
        position: relative;
        transition: var(--transition-action-out);

        > * {
            position: relative;
        }

        // With text
        &:not([data-icon-only=true]) {
            &::after {
                content: '';
                inset: auto 0 0 0;
                height: 1px;
                position: absolute;
                transition: var(--transition-action-out);
            }

            .action__icon {
                margin-top: -3px;
            }
        }

        // Icon only
        &[data-icon-only=true] {
            margin-inline-start: var(--neg-base-2);
            padding: var(--base-2);

            &::before {
                content: '';
                inset: 0;
                position: absolute;
                box-shadow: var(--shadow-action);
                border-radius: var(--radius-action);
                background-color: var(--color-action-secondary-hover);
                opacity: 0;
                transition: var(--transition-action-out);
            }
        }

        // Colors
        &[data-is-reversed="false"] {
            color: var(--color-action-primary);

            &::after {
                background-color: var(--color-action-primary);
            }
        }

        &[data-is-reversed="true"] {
            color: var(--color-action-secondary);

            &::after {
                background-color: var(--color-action-secondary);
            }
        }

        @media (hover: hover){
            &:hover {
                color: var(--color-action-secondary-hover);
                transition: var(--transition-action-in);
                
                &::after {
                    height: 3px;
                    background-color: var(--color-action-secondary-hover);
                    transition: var(--transition-action-in);
                }

                // Without text
                &[data-icon-only=true] {
                    color: var(--color-action-secondary);
                    
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }

        &:focus-visible {
            color: var(--color-action-secondary-hover);
            outline: 0;
            outline: var(--outline-width) solid var(--color-focus);
            outline-offset: var(--outline-offset);
            transition: var(--transition-action-in);

            &::after {
                background-color: var(--color-action-secondary-hover);
                transition: var(--transition-action-in);
            }
        }
    }
}

@mixin showAudioIcon {
    opacity: 1;
    width: 12px;
    transition: background-color var(--transition-intermediate) ease-out,
                opacity var(--transition-intermediate) ease-out;
}

@mixin hideAudioIcon {
    margin-inline-start: 0;
    opacity: 0;
    width: 0;
    transition: background-color var(--transition) ease-in,
                opacity var(--transition) ease-in;
}

.action--button.action--audio {
    .action__play {
        @include showAudioIcon;
    }

    .action__pause {
        @include hideAudioIcon;
    }
}

.playing {
    .action--button.action--audio {
        .action__play {
            @include hideAudioIcon;
        }

        .action__pause {
            margin-inline: calc(var(--base-2) - 1px) 1px;
            @include showAudioIcon;
        }
    }
}


[data-theme-color="green"] {
    .action {
        --color-action-primary: var(--color-program-green-100);
        
        &[data-is-reversed="true"] {
            background-color: var(--color-action-secondary);
            color: var(--color-action-primary);

            // Hover
            @media (hover: hover){
                &:hover {
                    background-color: var(--color-action-primary-hover);
                    color: var(--color-action-secondary-hover);
                }
            }

            // Focus
            &:focus-visible {
                background-color: var(--color-action-primary-hover);
                color: var(--color-action-secondary-hover);
            }
        }
    }
}

[data-theme-color="plum"] {
    .action {
        --color-action-primary: var(--color-program-plum-100);
        
        &[data-is-reversed="true"] {
            background-color: var(--color-action-secondary);
            color: var(--color-action-primary);

            // Hover
            @media (hover: hover){
                &:hover {
                    background-color: var(--color-action-primary-hover);
                    color: var(--color-action-secondary-hover);
                }
            }

            // Focus
            &:focus-visible {
                background-color: var(--color-action-primary-hover);
                color: var(--color-action-secondary-hover);
            }
        }
    }
}

[data-theme-color="marigold"] {
    .action {
        --color-action-primary: var(--color-program-marigold-50);
        --color-action-secondary: var(--color-navy-100);

        &.action--link {
            --color-action-primary: var(--color-program-marigold-150);
        }
        
        &[data-is-reversed="true"] {
            --color-action-primary: var(--color-grey-25);

            background-color: var(--color-action-secondary);
            color: var(--color-action-primary);

            // Hover
            @media (hover: hover){
                &:hover {
                    background-color: var(--color-action-primary-hover);
                    color: var(--color-action-secondary-hover);
                }
            }

            // Focus
            &:focus-visible {
                background-color: var(--color-action-primary-hover);
                color: var(--color-action-secondary-hover);
            }
        }
    }
}