/* _actions.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Action Item: Structure
  See templates/_macros/_actions.twig for markup

  // Variants, e.g. button, link
------------------------------------------------------------------------ */

.action {
    /* ---------------------------------------------------------------------
    Button & Link Shared Styles
    ------------------------------------------------------------------------ */
    --color-action-primary: var(--color-primary-teal-150);
    --color-action-primary-reversed: var(--color-primary-teal-25);
    --color-action-label: var(--color-tertiary-grey-25);
    --color-action-label-reversed: var(--color-tertiary-grey-200);
    --color-action-hover: var(--color-tertiary-grey-200);
    --color-action-focus: var(--color-tertiary-clouds-50);

    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    @include getType('action');
    cursor: pointer;

    .action__icon {
        margin-left: 0.5rem; // 8px
        width: var(--icon-size);
        height: var(--icon-size);
        flex-shrink: 0;
    }

    // Icon only
    &[data-icon-only=true] {
        .action__text {
            @include totallyHide;
        }

        .action__icon {
            margin-left: 0;
        }
    }


    /* ---------------------------------------------------------------------
    Button
    ------------------------------------------------------------------------ */
    &--button {
        border-radius: var(--radius-action);
        transition: all .25s ease-in;
        
        // With text
        &:not([data-icon-only=true]) {
            padding: 16px 28px 14px 28px;

            .action__icon {
                margin-top: -3px;
            }
        }

        // Icon only
        &[data-icon-only=true] {
            padding: 15px;
            
            .action__text {
                @include totallyHide;
            }
        }

        // Colors
        &[data-is-reversed="false"] {
            background-color: var(--color-action-primary);
            color: var(--color-action-label);
        }

        &[data-is-reversed="true"] {
            background-color: var(--color-action-primary-reversed);
            color: var(--color-action-label-reversed);
        }

        // Hover
        @media (hover: hover){
            &:hover {
                box-shadow: var(--shadow-action);
                border-radius: var(--radius-action-s);
                background-color: var(--color-action-hover);
                color: var(--color-action-label);
                transition: all .33s ease-out;
            }
        }

        // Focus
        &:focus-visible {
            box-shadow: var(--shadow-action);
            outline: 2px solid var(--color-action-focus);
            outline-offset: 3px;
            border-radius: var(--radius-action-s);
            background-color: var(--color-action-hover);
            color: var(--color-action-label);
            transition: all .33s ease-out;
        }
    }


    /* ---------------------------------------------------------------------
    Link
    ------------------------------------------------------------------------ */
    &--link {
        position: relative;
        transition: color .25s ease-in;

        > * {
            position: relative;
        }

        &::before {
            content: '';
            position: absolute;
            box-shadow: var(--shadow-action);
            border-radius: var(--radius-action-s);
            background-color: var(--color-action-hover);
            opacity: 0;
            transition: all .25s ease-in;
        }

        // With text
        &:not([data-icon-only=true]) {
            padding: 11px 0 9px 0;

            &::before {
                inset: 0 -.5rem; // -8px
            }

            &::after {
                content: '';
                inset: auto 0 0 0;
                height: 1px;
                position: absolute;
                background-color: var(--color-action-hover);
                transition: all .25s ease-in;
            }

            .action__icon {
                margin-top: -3px;
            }
        }

        // With text
        &[data-icon-only=true] {
            padding: 10px 0;

            &::before {
                inset: 0 -10px;
            }
        }

        // Colors
        &[data-is-reversed="false"] {
            color: var(--color-action-primary);

            &::after {
                background-color: var(--color-action-primary);
            }
        }

        &[data-is-reversed="true"] {
            color: var(--color-action-primary-reversed);

            &::after {
                background-color: var(--color-action-primary-reversed);
            }
        }

        @media (hover: hover){
            &:hover {
                color: var(--color-action-label);
                transition: color .33s ease-in;

                &::before {
                    opacity: 1;
                    transition: all .33s ease-out;
                }

                &::after {
                    background-color: var(--color-action-hover);
                    transition: all .25s ease-out;
                }
            }
        }

        &:focus-visible {
            color: var(--color-action-label);
            outline: 0;
            transition: color .33s ease-in;
            
            &::before {
                opacity: 1;
                outline: 2px solid var(--color-action-focus);
                outline-offset: 3px;
                transition: all .33s ease-out;
            }

            &::after {
                background-color: var(--color-action-hover);
                transition: all .25s ease-out;
            }
        }
    }
}