/* _copy.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Element: Copy
------------------------------------------------------------------------ */

.copy {
  @include getType('body');

  p,
  ul,
  ol {
    max-width: 30em;

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  ul {
    padding-left: 1.875rem; // 30px
    list-style-type: disc;
  }

  ol {
    padding-left: 1.875rem; // 30px
    list-style-type: decimal;
  }


  a {
    color: var(--color-primary-teal-100);
    transition: color var(--transition) ease-in;

    @media (hover: hover) {
      &:hover {
        color: var(--color-tertiary-grey-200);
        transition: color var(--transition-intermediate) ease-out;
      }
    }
  }
}