/* _details.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Element: Details
  See templates/_macros/01_elements/_details.twig for markup

  Variants: Tag, Location, Region, Byline, Job Title
------------------------------------------------------------------------ */

.details {
  --color-details-primary: var(--color-teal-100);
  --color-details-secondary: var(--color-navy-50);
  --color-details-tertiary: var(--color-grey-25);

  &[data-is-reversed="true"] {
    --color-details-primary: var(--color-teal-25);
    --color-details-secondary: var(--color-grey-25);
    --color-details-tertiary: var(--color-navy-100);
  }
}
[data-theme-color="green"] {
  .details {
    --color-details-primary: var(--color-program-green-100);
  }
}

[data-theme-color="plum"] {
  .details {
    --color-details-primary: var(--color-program-plum-100);
  }
}

[data-theme-color="marigold"] {
  .details {
    --color-details-primary: var(--color-program-marigold-150);
  }
}

.details {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  @include getType('detail-axiforma');

  &.details--no-wrap {
    flex-wrap: nowrap;
  }

  .details__icon {
    margin-right: var(--base-2);
    width: var(--icon-size);
    height: var(--icon-size);
    flex-shrink: 0;
  }
  
  // Colors
  .details__icon {
    color: var(--color-details-primary);
  }

  color: var(--color-details-secondary);



  // Tags
  &[data-variant=tags] {
    margin-top: var(--neg-base-2);

    li {
      margin: var(--base-2) var(--base-2) 0 0;

      a,
      span {
        padding: 0.1875rem 0.5625rem 0.125rem 0.5625rem; // 3px 9px 2px 9px
        display: block;
        position: relative;
        border: 1px solid var(--color-details-primary);
        border-radius: var(--radius-action-s);
        background-color: transparent;
        color: var(--color-details-primary);
        text-decoration: none;
        transition: all var(--transition) ease-in;

        // 8x8px triangle in upper left corner
        &::after {
          content: '';
          inset: 0 auto auto 0;
          width: 0;
          height: 0;
          position: absolute;
          border-style: solid;
          border-width: 0.5rem 0.5rem 0 0;
          border-color: var(--color-details-primary) transparent transparent transparent;
          transition: border-color var(--transition) ease-in;
        }

        // Hover & Focus
        // @media (hover: hover) {
        //   &:hover {
        //     box-shadow: var(--shadow-action);
        //     background-color: var(--color-details-primary);
        //     color: var(--color-details-tertiary);
        //     transition: all var(--transition-intermediate) ease-out;

        //     &::after {
        //       border-color: transparent;
        //       transition: border-color var(--transition-intermediate) ease-out;
        //     }
        //   }
        // }

        // // Focus
        // &:focus-visible {
        //   outline: var(--outline-width) solid var(--color-focus);
        //   outline-offset: var(--outline-offset);
        //   background-color: var(--color-details-primary);
        //   color: var(--color-details-tertiary);
        //   transition: all var(--transition-intermediate) ease-out;
        // }

        &[data-program-color="green"] {
          --program-color: var(--color-program-green-100);
        }
        &[data-program-color="plum"] {
          --program-color: var(--color-program-plum-100);
        }
        &[data-program-color="marigold"] {
          --program-color: var(--color-program-marigold-150);
        }

        &[data-program-color="green"],
        &[data-program-color="plum"],
        &[data-program-color="marigold"] {
          border: 1px solid var(--program-color);
          color: var(--program-color);

          &::after {
            border-color: var(--program-color) transparent transparent transparent;
          }

          // Hover & Focus
          // @media (hover: hover) {
          //   &:hover {
          //     background-color: var(--program-color);
          //     color: var(--color-details-tertiary);
          //   }
          // }

          // // Focus
          // &:focus-visible {
          //   background-color: var(--program-color);
          //   color: var(--color-details-tertiary);
          // }
        }
      }
    }
  }

  // Byline
  &[data-variant=byline] {
    margin-top: var(--neg-base-2);

    > * {
      margin: var(--base-2) var(--base-6) 0 0;
      display: inline-flex;
      align-items: center;
    }

    a {
      display: inline-flex;
      align-items: flex-start;
      color: var(--color-details-secondary);
      text-decoration-color: transparent;
      transition: var(--transition-out);

      span {
        margin-block-start: 6px;
      }

      @media (hover: hover) {
        &:hover {
          color: var(--color-details-secondary);
          text-decoration-color: inherit;
          transition: var(--transition-in);
        }
      }
    }

    .image {
      margin-inline-end: var(--base-3);
      width: 2rem; // 32px
      aspect-ratio: 1 / 1;
      display: block;
      position: relative;
      overflow: hidden;
      border-radius: 2px;
  
      img {
        inset: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
      }
    }
  }
}