/* _actions.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Element: Section Title
  See templates/_macros/01_elements/_section-title.twig for markup
------------------------------------------------------------------------ */

.section-title {
  @include container;
  padding-top: var(--base-50px);
  padding-bottom: var(--base-15px);

  // Headings
  > * {
    @include getType('h4-axiforma');

    @include breakpoint(lg) {
      @include getType('h3-axiforma');
    }
  }

  // Variant
  &[data-variant=small] {
    > * {
      @include getType('h5-axiforma');
    }
  }

  // Border
  &:not([data-border=false]) {
    > * {
      padding-top: var(--base-40px);
      border-top: 1px solid var(--color-grey-100);
    }
  }
}