/* _actions.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Element: Section Title
  See templates/_macros/01_elements/_section-title.twig for markup
------------------------------------------------------------------------ */

.section-title {
  @include container;
  padding-block: var(--base-9) var(--base-4);
  color: var(--color-grey-150);

  // Headings
  > * {
    @include getType('h4-axiforma');

    @include breakpoint(lg) {
      @include getType('h3-axiforma');
    }
  }

  // Variant
  &[data-variant=small] {
    > * {
      @include getType('h5-axiforma');
    }
  }

  // Without border
  &[data-border=false] {
    padding-block-start: var(--base-7); 
  }

  // With border
  &:not([data-border=false]) {
    > * {
      padding-top: var(--base-7);
      border-top: 1px solid var(--color-grey-50);
    }
  }

  @include breakpoint(lg) {
    padding-block: var(--base-14) var(--base-7);

    // Without border
    &[data-border=false] {
      padding-block-start: var(--base-12); 
    }

    // With border
    &:not([data-border=false]) {
      > * {
        padding-top: var(--base-10);
      }
    }
  }
}