/* _actions.scss */
@use "../utils/_utils" as *;

/* ---------------------------------------------------------------------
  Section Title
  See templates/_macros/_section-title.twig for markup
------------------------------------------------------------------------ */

.section-title {
  @include container;
  padding-top: var(--base-10);
  padding-bottom: var(--base-3);

  // Headings
  > * {
    @include getType('h4-axiforma');

    @include breakpoint(md) {
      @include getType('h3-axiforma');
    }
  }

  // Variant
  &[data-variant=small] {
    > * {
      @include getType('h5-axiforma');
    }
  }

  // Border
  &:not([data-border=false]) {
    > * {
      padding-top: var(--base-8);
      border-top: 1px solid var(--color-tertiary-grey-100);
    }
  }
}