{# ===========================================================
Template: homepage/index.twig
URL: /
===========================================================
Homepage template
=========================================================== #}

{% extends '_layouts/_base' %}
{% import '_macros/01_elements/_actions' as actions %}
{% import '_macros/01_elements/_breadcrumb' as breadcrumbs %}
{% import '_macros/01_elements/_details' as details %}
{% import '_macros/01_elements/_section-title' as sectionTitles %}
{% import '_macros/02_components/_accordion' as accordion %}
{% import '_macros/02_components/_quote' as quote %}
{% import '_macros/03_modules/_accordion' as accordionModule %}

{% import '_macros/02_components/_assets' as assets %}

{% block content %}

{% set homepage = craft.entries().section('homepage').one() %}

{# HOMEPAGE OPENER #}
{% set opener = homepage.openerHomepage %}
<div class="blockOpener blockOpener--homepage">
    <div class="blockOpener-text">
        <h1 class="blockOpener-heading">{{ opener.textHeading }}</h1>
        <div class="blockOpener-desc">{{ opener.textDescription }}</div>
    </div>

    <div class="blockOpener-media">
        <img src="{{ opener.assetImage.one().url }}" alt="" />
    </div>
</div>

{# HOMEPAGE BUILDER #}
{% set builder = homepage.builderHome.all() %}

{% include '_partials/_builder-homepage.twig' with {'builder': builder} %}


{% endblock %}