{# _job.twig #}
{# {% import "_macros/02_components/_card.twig" as modules %}

{{ modules.default(config) }} #}

<div class="blockGeneric">
  <h2 class="blockGeneric-heading">Job listings will appear here.</h2>
</div>