/* _config.scss */
@use "sass:math";
/* ---------------------------------------------------------------------
 _config contains project-specific settings
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Breakpoints Map
------------------------------------------------------------------------ */
$breakpoints: (
	"xxs": "0",
	"xs": "23.5rem", // 376px
	"sm": "36rem", // 576px
	"sm-md": "42rem", // 672px
	"md": "48rem", // 768px
	"lg": "64rem", // 1024px
	"xl": "80rem", // 1280px
	"xxl": "90rem" // 1440px
);

/* ---------------------------------------------------------------------
 Fonts
 font url is relative to our compiled stylesheet
------------------------------------------------------------------------ */
@mixin getFont($fontname, $filedirectory, $filename, $style, $weight) {
	@font-face {
		$downloadable-path: '../fonts/#{$filedirectory}/#{$filename}';

		font-display: swap;
		font-family: $fontname;
		font-style: $style;
		font-weight: $weight;
		src: url('#{$downloadable-path}.woff2') format('woff2');
	}
}

// Define project fonts
@include getFont('Axiforma', 'axiforma', 'axiforma--book', normal, 400);
@include getFont('Axiforma', 'axiforma', 'axiforma--medium', normal, 500);

@include getFont('Messina Modern', 'messina-modern', 'messina-modern--light', normal, 200);
@include getFont('Messina Modern', 'messina-modern', 'messina-modern--light-italic', italic, 200);
@include getFont('Messina Modern', 'messina-modern', 'messina-modern--regular', normal, 400);
@include getFont('Messina Modern', 'messina-modern', 'messina-modern--regular-italic', italic, 400);

@include getFont('Messina Serif', 'messina-serif-trial', 'messina-serif-trial--book', normal, 300);
@include getFont('Messina Serif', 'messina-serif-trial', 'messina-serif-trial--book-italic', italic, 300);
@include getFont('Messina Serif', 'messina-serif-trial', 'messina-serif-trial--regular', normal, 400);
@include getFont('Messina Serif', 'messina-serif-trial', 'messina-serif-trial--regular-italic', italic, 400);


/* ---------------------------------------------------------------------
	Font Family
------------------------------------------------------------------------ */
:root {
	--ff-axiforma: Axiforma, Verdana, sans-serif;
	--ff-messina-modern: "Messina Modern", "Times New Roman", Times, serif;
	--ff-messina-serif: "Messina Serif", "Times New Roman", Times, serif;
}

/* ---------------------------------------------------------------------
	Type
------------------------------------------------------------------------ */
:root {
	--type-64: 4rem;
	--type-56: 3.5rem;
	--type-32: 2rem;
	--type-24: 1.5rem;
	--type-20: 1.25rem;
	--type-17: 1.0625rem;
	--type-15: 0.9375rem;
	--type-14: 0.875rem;
	--type-12: 0.75rem;
}

/* ---------------------------------------------------------------------
	Colors
------------------------------------------------------------------------ */
:root {
	--color-teal-200: hsla(174, 97%, 13%, 1);
	--color-teal-150: hsla(175, 98%, 17%, 1);
	--color-teal-100: hsla(173, 100%, 28%, 1);
	--color-teal-50: hsla(175, 83%, 36%, 1);
	--color-teal-25: hsla(159, 50%, 70%, 1);

	--color-navy-100: hsla(247, 44%, 23%, 1);
	--color-navy-100-0: hsla(247, 44%, 23%, 0);
	--color-navy-50: hsla(247, 34%, 30%, 1);

	--color-program-green-150: hsla(129, 29%, 26%, 1);
	--color-program-green-100: hsla(153, 100%, 25%, 1);
	--color-program-green-50: hsla(136, 25%, 46%, 1);

	--color-program-plum-150: hsla(331, 30%, 27%, 1);
	--color-program-plum-100: hsla(326, 70%, 31%, 1);
	--color-program-plum-50: hsla(328, 37%, 45%, 1);

	--color-program-marigold-150: hsla(30, 81%, 41%, 1);
	--color-program-marigold-100: hsla(32, 80%, 52%, 1);
	--color-program-marigold-50: hsla(31, 94%, 66%, 1);

	--color-clouds-150: hsla(223, 53%, 36%, 1);
	--color-clouds-100: hsla(207, 63%, 45%, 1);
	--color-clouds-50: hsla(210, 53%, 56%, 1);

	--color-roses-150: hsla(344, 69%, 39%, 1);
	--color-roses-100: hsla(345, 72%, 50%, 1);
	--color-roses-50: hsla(353, 84%, 69%, 1);

	--color-citrus-150: hsla(64, 100%, 36%, 1);
	--color-citrus-100: hsla(61, 71%, 61%, 1);
	--color-citrus-50: hsla(64, 68%, 71%, 1);

	--color-grey-200: hsla(0, 0%, 24%, 1);
	--color-grey-150: hsla(220, 1%, 39%, 1);
	--color-grey-100: hsla(216, 2%, 59%, 1);
	--color-grey-50: hsla(200, 3%, 79%, 1);
	--color-grey-35: hsla(0, 0%, 92%,1);
	--color-grey-25: hsla(0, 0%, 96%, 1);
	--color-grey-25-65: hsla(0, 0%, 96%, .65);

	--color-white: hsla(0, 0%, 100%, 1);

	--color-focus: var(--color-clouds-50);
}


/* ---------------------------------------------------------------------
	Space
------------------------------------------------------------------------ */
:root {
	--base-100: 400px;
	--base-70: 280px;
	--base-40: 160px;
	--base-34: 136px;
	--base-32: 128px;
	--base-31: 124px;
	--base-30: 120px;
	--base-29: 116px;
	--base-28: 112px;
	--base-27: 108px;
	--base-24: 96px;
	--base-23: 92px;
	--base-22: 88px;
	--base-20: 80px;
	--base-18: 72px;
	--base-16: 64px;
	--base-15: 60px;
	--base-14: 56px;
	--base-13: 52px;
	--base-12: 48px;
	--base-11: 44px;
	--base-10: 40px;
	--base-9: 36px;
	--base-8: 32px;
	--base-7: 28px;
	--base-6: 24px;
	--base-5: 20px;
	--base-4: 16px;
	--base-3: 12px;
	--base-2: 8px;
	--base: 4px;
	--neg-base: -4px;
	--neg-base-2: -8px;
	--neg-base-3: -12px;
	--neg-base-5: -20px;
	--neg-base-6: -24px;
	--neg-base-9: -36px;
	--neg-base-10: -40px;
	--neg-base-14: -56px;
	--neg-base-16: -64px;
	--neg-base-18: -72px;

	--base-50px: 50px;

	--col-8: 66.6666666666%;
	--col-10: 83.3333333333%;
	--col-12: 100%;

	--site-header-height: 75px;
}

@media screen and (min-width: 36rem) {
	:root {
		--site-header-height: 84px;
	}
}
@media screen and (min-width: 48rem) {
	:root {
		--site-header-height: 96px;
	}
}
@media screen and (min-width: 64rem) {
	:root {
		--site-header-height: 120px;
	}
}


/* ---------------------------------------------------------------------
	Misc
------------------------------------------------------------------------ */
:root {
	--shadow-deep--light: 0px 5px 20px 0px rgba(0, 0, 0, 0.35);
	--shadow-shallow--light: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
	--shadow-action: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);

	--radius-action: 2.25rem; // 35px
	--radius-action-s: 0.125rem; // 2px
	--radius-input: 0.375rem; // 6px
	--radius-checkbox: 0.3125rem; // 5px

	--icon-size: 1.25rem; // 20px
	--icon-size-s: 0.625rem; // 10px

	--outline-width: 2px;
	--outline-offset: 3px;
	--outline-radius: 2px;

	--transition: 250ms;
	--transition-intermediate: 330ms;
	--transition-slow: 400ms;

	--transition-in: all var(--transition-intermediate) ease-out;
  --transition-out: all var(--transition) ease-in;
}


/* ---------------------------------------------------------------------
	Container
------------------------------------------------------------------------ */
@mixin container {
	margin-right: auto;
	margin-left: auto;
	padding-inline: var(--base-5);
	width: 100%;
	max-width: 94.5rem; // 1512px

	@media (min-width: 48rem) {
		padding-inline: var(--base-9);
	}

	@media (min-width: 64rem) {
		padding-inline: var(--base-12);
	}

	@media (min-width: 80rem) {
		padding-inline: var(--base-18);
	}
}

@mixin container-narrow {
	margin-right: auto;
	margin-left: auto;
	padding-inline: var(--base-5);
	width: 100%;
	max-width: 94.5rem; // 1512px

	@media (min-width: 48rem) {
		padding-inline: var(--base-12);
	}

	@media (min-width: 64rem) {
		padding-inline: var(--base-18);
	}

	@media (min-width: 80rem) {
		padding-inline: var(--base-32);
	}
}

.container {
	@include container;
}

.container-narrow {
	@include container-narrow;
}