/* _config.scss */
@use "sass:math";
/* ---------------------------------------------------------------------
 _config contains project-specific settings
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Breakpoints Map
------------------------------------------------------------------------ */
$breakpoints: (
	"xxs": "0",
	"xs": "375px",
	"sm": "576px",
	"md": "768px", 
	"lg": "1024px",
	"xl": "1280px",
	"xxl": "1440px"
);

/* ---------------------------------------------------------------------
 Fonts
 font url is relative to our compiled stylesheet
------------------------------------------------------------------------ */
@mixin getFont($fontname, $filename) {
	
	@font-face {
		$downloadable-path: '../fonts/#{$filename}/#{$filename}';
		$local-path: '#{$filename}';
		font-family: $fontname;
		font-display: block; // prevent FOUT
		src: local('#{$local-path}.eot'), url('#{$downloadable-path}.eot'),
		     local('#{$local-path}.woff'), url('#{$downloadable-path}.woff') format('woff'),
             local('#{$local-path}.woff2'), url('#{$downloadable-path}.woff2') format('woff2'),
		     local('#{$local-path}.ttf'), url('#{$downloadable-path}.ttf') format('truetype');
	}
}

// Define project fonts
$primary-name: 'Surt Bold';
$primary-file: 'surt-bold';
$primary-serif: 'sans-serif'; // e.g. sans-serif || serif

$secondary-name: 'Surt Light';
$secondary-file: 'surt-light';
$secondary-serif: 'sans-serif';

$tertiary-name: '';
$tertiary-file: '';
$tertiary-serif: '';

@include getFont($primary-name, $primary-file);
@include getFont($secondary-name, $secondary-file);
@include getFont($tertiary-name, $tertiary-file);

$font-primary: $primary-name, $primary-serif;
$font-secondary: $secondary-name, $secondary-serif;
$font-tertiary: $tertiary-name, $tertiary-serif;


/* ---------------------------------------------------------------------
	Colors
------------------------------------------------------------------------ */
:root {
	--color-primary-teal-150: hsla(175, 98%, 17%, 1);
	--color-primary-teal-100: hsla(173, 100%, 28%, 1);
	--color-primary-teal-50: hsla(175, 83%, 36%, 1);
	--color-primary-teal-25: hsla(175, 50%, 80%, 1);

	--color-primary-navy-100: hsla(247, 44%, 23%, 1);
	--color-primary-navy-50: hsla(247, 34%, 30%, 1);

	--color-program-green-150: hsla(129, 29%, 26%, 1);
	--color-program-green-100: hsla(153, 100%, 25%, 1);
	--color-program-green-50: hsla(136, 25%, 46%, 1);

	--color-program-plum-150: hsla(336, 30%, 27%, 1);
	--color-program-plum-100: hsla(326, 70%, 31%, 1);
	--color-program-plum-50: hsla(328, 37%, 45%, 1);

	--color-program-marigold-150: hsla(30, 81%, 41%, 1);
	--color-program-marigold-100: hsla(32, 80%, 52%, 1);
	--color-program-marigold-50: hsla(31, 94%, 66%, 1);

	--color-tertiary-clouds-150: hsla(222, 53%, 36%, 1);
	--color-tertiary-clouds-100: hsla(207, 63%, 45%, 1);
	--color-tertiary-clouds-50: hsla(210, 53%, 56%, 1);

	--color-tertiary-roses-150: hsla(344, 69%, 39%, 1);
	--color-tertiary-roses-100: hsla(345, 72%, 50%, 1);
	--color-tertiary-roses-50: hsla(353, 84%, 69%, 1);

	--color-tertiary-citrus-150: hsla(64, 100%, 36%, 1);
	--color-tertiary-citrus-100: hsla(61, 71%, 61%, 1);
	--color-tertiary-citrus-50: hsla(64, 68%, 71%, 1);

	--color-tertiary-grey-200: hsla(0, 0%, 0%, 1);
	--color-tertiary-grey-150: hsla(220, 1%, 39%, 1);
	--color-tertiary-grey-100: hsla(216, 2%, 59%, 1);
	--color-tertiary-grey-50: hsla(200, 3%, 79%, 1);
	--color-tertiary-grey-25: hsla(0, 0%, 96%, 1);
}