/* _styleguide.scss */
@use "mixins" as *;
@use "helpers" as *;
@use "config" as *;
@use "sass:math";
@use "sass:string";
@use "sass:list";

/* ---------------------------------------------------------------------
 _styleguide contains project-specific style patterns
------------------------------------------------------------------------ */
// svg path, relative to compiled stylesheet
$svg-path: '../svgs/';

/* ---------------------------------------------------------------------
 Type Map

 1. ems based on 1rem-sized parent
 2. relative line-heights
------------------------------------------------------------------------ */
$text-map: (	
	// Headlines
	"h3-axiforma": (
		font-family: var(--ff-axiforma),
		font-size: var(--type-38),
		font-weight: 500,
		line-height: var(--line-height-extra-tight),
		letter-spacing: var(--letter-spacing-tight)
	),

	"h4-axiforma": (
		font-family: var(--ff-axiforma),
		font-size: var(--type-28),
		font-weight: 500,
		line-height: var(--line-height-tight),
		letter-spacing: var(--letter-spacing-tight)
	),

	"h5-axiforma": (
		font-family: var(--ff-axiforma),
		font-size: var(--type-22),
		font-weight: 500,
		line-height: var(--line-height-snug),
		letter-spacing: var(--letter-spacing-tight)
	),

	// Actions
	"action": (
		font-family: var(--ff-axiforma),
		font-size: var(--type-12),
		font-weight: 500,
		line-height: var(--line-height-loose),
		letter-spacing: var(--letter-spacing),
		text-decoration: none,
		text-transform: uppercase
	),
);


/* ---------------------------------------------------------------------
 Type Map

 Example Usage:
 getType('h2-lg');
------------------------------------------------------------------------ */
@mixin getType($name) {
	$type-attrs: map-get($text-map, $name);

	// Explode the attr-props
	@each $attr, $prop in $type-attrs {
		#{$attr}: $prop;
	}
}