/* _styleguide.scss */
@use "mixins" as *;
@use "helpers" as *;
@use "config" as *;
@use "sass:math";
@use "sass:string";
@use "sass:list";

/* ---------------------------------------------------------------------
 _styleguide contains project-specific style patterns
------------------------------------------------------------------------ */
// svg path, relative to compiled stylesheet
$svg-path: '../svgs/';

/* ---------------------------------------------------------------------
 Type Map

 1. ems based on 1rem-sized parent
 2. relative line-heights
------------------------------------------------------------------------ */
$text-map: (	
	// Headlines
	"h2-axiforma": (
		font-family: var(--ff-axiforma),
		font-size: var(--type-60),
		font-weight: 400,
		line-height: var(--line-height-extra-extra-tight),
		letter-spacing: var(--letter-spacing-extra-tight),
	),
	"h3-axiforma": (
		font-family: var(--ff-axiforma),
		font-size: var(--type-38),
		font-weight: 500,
		line-height: var(--line-height-extra-tight),
		letter-spacing: var(--letter-spacing-extra-tight)
	),
	"h4-axiforma": (
		font-family: var(--ff-axiforma),
		font-size: var(--type-28),
		font-weight: 500,
		line-height: var(--line-height-tight),
		letter-spacing: var(--letter-spacing-extra-tight)
	),
	"h5-axiforma": (
		font-family: var(--ff-axiforma),
		font-size: var(--type-22),
		font-weight: 500,
		line-height: var(--line-height-snug),
		letter-spacing: var(--letter-spacing-extra-tight)
	),

	"h3-messina": (
		font-family: var(--ff-messina-modern),
		font-size: var(--type-38),
		font-weight: 200,
		line-height: var(--line-height-extra-tight),
		letter-spacing: var(--letter-spacing-extra-tight)
	),
	"h4-messina": (
		font-family: var(--ff-messina-modern),
		font-size: var(--type-28),
		font-style: italic,
		font-weight: 200,
		line-height: var(--line-height-tight),
	),

	// Subhead
	"subhead": (
		font-family: var(--ff-messina-modern),
		font-size: var(--type-26),
		font-weight: 200,
		letter-spacing: var(--letter-spacing-extra-tight),
		line-height: var(--line-height-snug),
	),

	// Caption
	"caption-axiforma": (
		font-family: var(--ff-axiforma),
		font-size: var(--type-15),
		font-weight: 400,
		letter-spacing: var(--letter-spacing-narrow),
		line-height: var(--line-height-loose),
	),
	"caption-messina": (
		font-family: var(--ff-messina-serif),
		font-size: var(--type-18),
		font-weight: 400,
		letter-spacing: var(--letter-spacing-tight),
		line-height: var(--line-height-snug),
	),

	// Detail
	"detail-axiforma": (
		font-family: var(--ff-axiforma),
		font-size: var(--type-14),
		font-weight: 400,
		letter-spacing: var(--letter-spacing),
		line-height: var(--line-height-base),
	),

	// Label
	"label": (
		font-family: var(--ff-axiforma),
		font-size: var(--type-12),
		font-weight: 500,
		letter-spacing: var(--letter-spacing-wide),
		line-height: var(--line-height-base),
		text-transform: uppercase,
	),



	// Actions
	"action": (
		font-family: var(--ff-axiforma),
		font-size: var(--type-12),
		font-weight: 500,
		line-height: var(--line-height-loose),
		letter-spacing: var(--letter-spacing-extra-wide),
		text-decoration: none,
		text-transform: uppercase
	),
);


/* ---------------------------------------------------------------------
 Type Map

 Example Usage:
 getType('h2-lg');
------------------------------------------------------------------------ */
@mixin getType($name) {
	$type-attrs: map-get($text-map, $name);

	// Explode the attr-props
	@each $attr, $prop in $type-attrs {
		#{$attr}: $prop;
	}
}