/* _viewport.scss */
@use "_config" as *;
@use "_system" as *;

/* ---------------------------------------------------------------------
 Viewport Module
 Visual responsive development helper.
 Dynamically updates viewport module content with current breakpoint key.
------------------------------------------------------------------------ */
.viewport {
	// hide
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	///////////////
	
	// Override font-size on the ::pseudo
	// within project.scss as needed
	&::before {
		display: block;
		content: '';
		text-align: center;
	}

	@each $br, $width in $breakpoints {
		@include breakpoint($br) {
			&::before {
				content: '#{$br}';
			}
		}
	}

	// Hidden by default; display in debug mode
    &._is-debug {
		// show
		clip: auto;
		height: auto;
		margin: 0;
		width: auto;
		overflow: visible;
		position: static;
		///////////////
    	box-sizing: border-box;
    	padding: 0.2rem;
	    bottom: 0.5rem;
	    left: 0;
	    position: fixed;
	    z-index: 2000;
	    background: var(--color-tertiary-grey-200);;
	    color: var(--color-tertiary-grey-25);;
	    font: normal .75rem arial, helvetica;
    }

}
