{# ===========================================================
Site: Barr Foundation
Template: _layouts/_base.twig
URL: all
===========================================================
Main layout for site.
Includes navigation, main content, and footer.
=========================================================== #}

{% set themeColor =
    entry.title == 'Arts & Creativity' ? 'green' :
    entry.ancestors.one == 'Arts & Creativity' ? 'green' :
    entry.title == 'Climate' ? 'plum' :
    entry.ancestors.one == 'Climate' ? 'plum' :
    entry.title == 'Education' ? 'marigold' :
    entry.ancestors.one == 'Education' ? 'marigold' :
    'teal'
%}

{% set baseUrl = getenv('PRIMARY_SITE_URL') %}

<!DOCTYPE html>
<html lang="en-US">
    {% include '_partials/_head' %}

    <body class="body" data-theme-color="{{ themeColor }}">
        <a class="skip-link" href="#main">
            Skip to content
        </a>

        <header id="header">
            {% include '_partials/_nav' %}
        </header>

        <main id="main" tabindex="-1">     
            {% block content %}
            {% endblock %}
        </main>

        {% include '_partials/_footer' %}
    </body>
</html>