{# _accordions.html #}

{# accordionItem

    @param {str} $hook      - base class name and js trigger
    @param {obj} $accordion - accordion object
    @param {int} $idx       - 
    @param {obj} $icons     - (optional)
#}
{% macro accordionItem(hook,accordion,idx,icons = null) %}
{% import 'macros/components/_actions' as actions %}
{% import 'macros/components/_assets' as assets %}

{% if not icons %}
{% set expandIcon, contractIcon = "/spritemap.svg#icon-expand", "/spritemap.svg#icon-collapse" %}
{% else %}
{% set expandIcon, contractIcon = icons.expand, icons.collapse %}
{% endif %}

<article 
    class="{{ hook }}-article"
    data-accordion-item>
    <h2 class="{{ hook }}-title">
        <button 
            id="button-{{ hook }}-{{ idx }}"
            class="{{ hook }}-trigger"
            data-accordion-trigger
            aria-controls="panel-{{ hook }}-{{ idx }}"
            aria-expanded="false"
            type="button"> 

            <span class="{{ hook }}-icon">
                <svg 
                    class="{{ hook }}-toggle {{ hook }}-toggle--expand" 
                    role="presentation">
                    <use xlink:href="{{ alias('@assetBasePath' ~ expandIcon) }}"></use>       
                </svg> 
                <svg 
                    class="{{ hook }}-toggle {{ hook }}-toggle--contract" 
                    role="presentation">
                    <use xlink:href="{{ alias('@assetBasePath' ~ contractIcon) }}"></use>       
                </svg> 
            </span>
            <span class="{{ hook }}-name">{{ accordion.headline }}</span>
        </button>
    </h2>
    <div
        id="panel-{{ hook }}-{{ idx }}"
        class="{{ hook }}-panel"
        role="region"
        aria-labelledby="button-{{ hook }}-{{ idx }}"
        hidden>
        
        {% set fields = accordion.fields %}
        {% for k, v in fields %}
            {% switch k %}
            {% case 'copy' %}
            <div class="{{ hook }}-content {{ hook }}-content--redactor">
                {{ accordion.copy }}
            </div>
            {% case 'image' %}
                {% set accordionImage = accordion.image|length and accordion.image.one() is not null ? accordion.image.one() : null %}
                {% if accordionImage %}
                {{ assets.transformedImage("#{hook}",accordionImage,'accordionImage') }} 
                {% endif %}
            {% case 'action' %}
                {% set accordionActions = accordion.action %}
                {{ actions.actionList("#{hook}-action",accordionActions) }}
            {% endswitch %}
        {% endfor %}
    </div>
</article>
{% endmacro %}

{# accordionList

    @param {str} $hook   - base class name and js trigger
    @param {obj} $block  - matrix block
    @param {obj} $obj    - wildcard storage (optional)
#}
{% macro accordionList(hook,block,obj = null) %}

{% set variant = (obj is not null and 'variant' in obj|keys) ? obj['variant'] : null %}
{% set icons = (obj is not null and 'icons' in obj|keys) ? obj['icons'] : null %}
<div
    class="{{ hook }}{% if variant %} {{ hook }}--{{ variant }}{% endif %}" 
    id="{{ hook }}"
    data-accordion-container="{{ hook }}">

    {% for accordion in block|filter(accordion => accordion.headline != '' and accordion.copy != '') %}
        {{ _self.accordionItem(hook,accordion,loop.index,icons) }}
    {% endfor %}
</div>

{% endmacro %}