{# _actions.html #}

{# actionList:
    @param {str} $hook - base styling hook
    @param {obj} $list - supertable of actions

    Common $types on the $action
    (which also potentially correspond to $icon):
    1. internal
    2. external 
    3. email
    4. download
    5. socials... (e.g. Instagram, Twitter)

    Common $variants on the $action:
    1. button
    2. link

#}
{% macro actionList(hook,list) %}

    {% set hasActions = list|length and list|filter(action => action.fieldLabel != '' )|length %}

    {% if hasActions %}
    <ul class="{{ hook }}List">
    {% for action in list|filter(action => action.fieldLabel != '' ) %}

        {% set label, url, type, variant = action.fieldLabel, action.fieldURL, action.fieldType, action.fieldVariant %}
        {% set obj = {
            'variant': variant,
            'type': type,
            'icon': type 
        } %}       
        <li class="{{ hook }}Item">{{ _self.actionItem(hook,label,url,obj) }}</li>
    {% endfor %}
    </ul>
    {% endif %}

{% endmacro %}

{# actionItem: 
   See styles/components/_actions.scss for styling

    @param {str} $hook  - base styling hook
    @param {str} $label - call-to-action
    @param {str} $url   - link destination
    @param {obj} $obj   - wildcard storage (optional), e.g. variant, type, icon
 
#}
{% macro actionItem(hook,label,url,obj = null) %}

{% set keys = obj is not null ? obj|keys : null %}
{% set variant = keys and 'variant' in obj|keys ? obj['variant'] : null %}
{% set type = keys and 'type' in obj|keys ? obj['type'] : null %}
{% set icon = keys and 'icon' in obj|keys ? obj['icon'] : null %}

<a 
    class="{{ hook }}{% if variant %} {{ hook }}--{{ variant }}{% endif %}" 
    href="{% apply spaceless %}
    {% if type == 'download' %}
        {{ alias('@uploadBasePath' ~ url) }}
    {% elseif type == 'email' %}
        mailto:{{ url }}
    {% else %}
        {{ url }}
    {% endif %}
    {% endapply %}"
    {% if type == 'download' %}
    download
    arial-label="Download"
    {% endif %}
    {% if type == 'external' %}
    target="_blank"
    rel="external nofollow"
    {% endif %}>
        <span 
            class="{{ hook }}-trigger">
            {{ label }}
        </span>
        {% if icon %}
        <svg 
            class="{{ hook }}-icon">
            {% set path = "/spritemap.svg#icon-#{icon}" %}
            <use xlink:href="{{ alias('@assetBasePath' ~ path) }}"></use>
        </svg> 
        {% endif %}
</a>
{% endmacro %}
