{# ===========================================================
Template: kitchen-sink/_entry.html
URL: /kitchen-sink
===========================================================
Kitchen Sink template
=========================================================== #}

{% extends '_layouts/_base' %}
{% import '_macros/01_elements/_actions' as actions %}
{% import '_macros/01_elements/_breadcrumb' as breadcrumbs %}
{% import '_macros/01_elements/_details' as details %}
{% import '_macros/01_elements/_section-title' as sectionTitles %}
{% import '_macros/02_components/_accordion' as accordion %}
{% import '_macros/02_components/_quote' as quote %}
{% import '_macros/03_modules/_accordion' as accordionModule %}

{% block content %}
  <div class="container" style="background: var(--color-teal-150); padding-top: var(--base-10);padding-bottom: var(--base-10); padding: 50px 100px">
    {% set crumbs = [
      { 'title': 'Section', 'url': 'https://example.com' },
      { 'title': 'Subsection', 'url': 'https://example.com' }
    ] %}
    {{ breadcrumbs.breadcrumb(crumbs) }}
  </div>

  <hr style="color: transparent">


  {% set accordionModuleTitleAttributes = {
    level: 'h2',
    title: 'Section Name Lorem Ipsum',
    variant: '', border: false
  } %}
  {% set accordionModuleSubhead = '<p>Pellentesque augue turpis, tempus non pellentesque vel, efficitur non lacus. Ut eu risus quis enim blandit consequat. Donec dictum odio in convallis interdum. Aliquam consectetur eget quam quis lobortis. Sed vestibulum porttitor vulputate. Ut id dui a risus aliquam auctor at in sem. Integer accumsan arcu a dui placerat aliquet.</p>' %}
  {% set accordionModuleAccordion = [
    { 'title': 'Panel 1', 'body': '<p>Curabitur sodales ipsum vitae quam aliquam egestas. Pellentesque lacinia cursus mi, vitae mattis leo ornare bibendum. Nam tristique tellus nisi, et feugiat est facilisis ut. Cras sed purus sodales, pretium lorem tristique, sagittis ante.</p>' },
    { 'title': 'Panel 2', 'body': '<p>Curabitur sodales ipsum vitae quam aliquam egestas. Pellentesque lacinia cursus mi, vitae mattis leo ornare bibendum. Nam tristique tellus nisi, et feugiat est facilisis ut. Cras sed purus sodales, pretium lorem tristique, sagittis ante.</p>' },
    { 'title': 'Panel 3', 'body': '<p>Curabitur sodales ipsum vitae quam aliquam egestas. Pellentesque lacinia cursus mi, vitae mattis leo ornare bibendum. Nam tristique tellus nisi, et feugiat est facilisis ut. Cras sed purus sodales, pretium lorem tristique, sagittis ante.</p>' }
  ] %}
  {{ accordionModule.accordionModule(accordionModuleTitleAttributes, accordionModuleSubhead, accordionModuleAccordion) }}

  {% set quote = 'Pellentesque augue turpis, tempus non pellentesque vel, efficitur non lacus. Ut eu risus quis enim blandit consequat. Donec dictum odio in convallis interdum. Aliquam consectetur eget quam quis lobortis. Sed vestibulum porttitor vulputate. Ut id dui a risus aliquam auctor at in sem. Integer accumsan arcu a dui placerat aliquet.' %}
  
  {% set attribution = {
      'person': [ { 'img': 'Tag', 'name': 'Tyler N. Ford' } ],
      'title': 'Title Lorem Ipsum',
      'organisation': 'Org Name'
    }
  %}

  {{ quote.quote(quote, attribution) }}



  {% set sectionTitleAttributes = {
    level: 'h2',
    title: 'Section Name Lorem Ipsum',
    variant: '', border: false
  } %}

  {{ sectionTitles.sectionTitle(sectionTitleAttributes) }}

  {#<div class="container caption-messina">
    <p style="max-width: 900px;">The Barr Fellowship celebrates exceptional leaders, investing in them and their organizations, and cultivating a network of civic leaders committed to Greater Boston.</p>
  </div>#}



  {% set sectionTitleAttributes = {
    level: 'h3',
    title: 'Section Name Lorem Ipsum',
    variant: '', border: 'true'
  } %}

  {{ sectionTitles.sectionTitle(sectionTitleAttributes) }}


  {% set sectionTitleAttributes = {
    level: 'h2',
    title: 'Section Name Lorem Ipsum',
    variant: 'small', border: false
  } %}

  {{ sectionTitles.sectionTitle(sectionTitleAttributes) }}

  {% set sectionTitleAttributes = {
    level: 'h2',
    title: 'Section Name Lorem Ipsum',
    variant: 'small', border: 'border'
  } %}

  {{ sectionTitles.sectionTitle(sectionTitleAttributes) }}

  <div class="container" style="margin-top: 20px">
    <div class="subhead" style="margin-bottom: 50px">
      <p>Pellentesque augue turpis, tempus non pellentesque vel, efficitur non lacus. Ut eu risus quis enim blandit consequat. Donec dictum odio in convallis interdum. Aliquam consectetur eget quam quis lobortis. Sed vestibulum porttitor vulputate. Ut id dui a risus aliquam auctor at in sem. Integer accumsan arcu a dui placerat aliquet.</p>

      <p>Pellentesque augue turpis, tempus non pellentesque vel, efficitur non lacus. Ut eu risus quis enim blandit consequat. Donec dictum odio in convallis interdum. Aliquam consectetur eget quam quis lobortis. Sed vestibulum porttitor vulputate. Ut id dui a risus aliquam auctor at in sem. Integer accumsan arcu a dui placerat aliquet.</p>
    </div>

    <div class="copy">
      <p>Curabitur sodales ipsum vitae quam aliquam egestas. Pellentesque lacinia cursus mi, vitae mattis leo ornare bibendum. Nam tristique tellus nisi, et feugiat est facilisis ut. Cras sed purus sodales, pretium lorem tristique, sagittis ante.</p>

      <ul>
        <li>At vero eos et accusamus et iusto odio dignissimos ducimus.</li>
        <li>Qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident.</li>
        <li>Similique sunt in culpa, qui <a href="">officia</a> deserunt.</li>
        <li>Mollitia animi, id est laborum et dolorum fuga et harum quidem rerum facilis est et expedita distinctio.</li>
      </ul>
      
      <p>Et feugiat est facilisis ut. Cras sed <a href="https://example.com">purus sodales</a>, pretium lorem tristique, sagittis ante.</p>

      <ol>
        <li>At vero eos et accusamus et iusto odio dignissimos ducimus.</li>
        <li>Qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident.</li>
        <li>Similique sunt in culpa, qui <a href="">officia</a> deserunt.</li>
        <li>Mollitia animi, id est laborum et dolorum fuga et harum quidem rerum facilis est et expedita distinctio.</li>
      </ol>

      <p>Et feugiat est facilisis ut. Cras sed <a href="https://example.com">purus sodales</a>, pretium lorem tristique, sagittis ante.</p>
    </div>
  </div>

  <div class="container">
    {% set accordion = [
      { 'title': 'Panel 1', 'body': '<p>Curabitur sodales ipsum vitae quam aliquam egestas. Pellentesque lacinia cursus mi, vitae mattis leo ornare bibendum. Nam tristique tellus nisi, et feugiat est facilisis ut. Cras sed purus sodales, pretium lorem tristique, sagittis ante.</p>' },
      { 'title': 'Panel 2', 'body': '<p>Curabitur sodales ipsum vitae quam aliquam egestas. Pellentesque lacinia cursus mi, vitae mattis leo ornare bibendum. Nam tristique tellus nisi, et feugiat est facilisis ut. Cras sed purus sodales, pretium lorem tristique, sagittis ante.</p>' },
      { 'title': 'Panel 3', 'body': '<p>Curabitur sodales ipsum vitae quam aliquam egestas. Pellentesque lacinia cursus mi, vitae mattis leo ornare bibendum. Nam tristique tellus nisi, et feugiat est facilisis ut. Cras sed purus sodales, pretium lorem tristique, sagittis ante.</p>' }
    ] %}
    {{ accordion.accordion(accordion, 'large') }}

    <div style="margin-bottom: 200px;"></div>


    {% set accordion = [
      { 'title': 'Panel 1', 'body': '<p>Curabitur sodales ipsum vitae quam aliquam egestas. Pellentesque lacinia cursus mi, vitae mattis leo ornare bibendum. Nam tristique tellus nisi, et feugiat est facilisis ut. Cras sed purus sodales, pretium lorem tristique, sagittis ante.</p>
      
      <p>Et feugiat est facilisis ut. Cras sed <a href="https://example.com">purus sodales</a>, pretium lorem tristique, sagittis ante.</p>

      ' },
      { 'title': 'Panel 2', 'body': '<p>Curabitur sodales ipsum vitae quam aliquam egestas. Pellentesque lacinia cursus mi, vitae mattis leo ornare bibendum. Nam tristique tellus nisi, et feugiat est facilisis ut. Cras sed purus sodales, pretium lorem tristique, sagittis ante.</p>' },
      { 'title': 'Panel 3', 'body': '<p>Curabitur sodales ipsum vitae quam aliquam egestas. Pellentesque lacinia cursus mi, vitae mattis leo ornare bibendum. Nam tristique tellus nisi, et feugiat est facilisis ut. Cras sed purus sodales, pretium lorem tristique, sagittis ante.</p>' }
    ] %}
    {{ accordion.accordion(accordion) }}


<div style="margin-bottom: 200px;"></div>
    {% set accordion = [
      { 'title': 'Panel 1', 'body': '<p>Curabitur sodales ipsum vitae quam aliquam egestas. Pellentesque lacinia cursus mi, vitae mattis leo ornare bibendum. Nam tristique tellus nisi, et feugiat est facilisis ut. Cras sed purus sodales, pretium lorem tristique, sagittis ante.</p>
      
      <p>Et feugiat est facilisis ut. Cras sed <a href="https://example.com">purus sodales</a>, pretium lorem tristique, sagittis ante.</p>

      ' },
      { 'title': 'Panel 2', 'body': '<p>Curabitur sodales ipsum vitae quam aliquam egestas. Pellentesque lacinia cursus mi, vitae mattis leo ornare bibendum. Nam tristique tellus nisi, et feugiat est facilisis ut. Cras sed purus sodales, pretium lorem tristique, sagittis ante.</p>' },
      { 'title': 'Panel 3', 'body': '<p>Curabitur sodales ipsum vitae quam aliquam egestas. Pellentesque lacinia cursus mi, vitae mattis leo ornare bibendum. Nam tristique tellus nisi, et feugiat est facilisis ut. Cras sed purus sodales, pretium lorem tristique, sagittis ante.</p>' }
    ] %}
    {{ accordion.accordion(accordion, 'small') }}


    <div style="display: grid;grid-template-columns: 1fr 1fr;gap:50px">
      <div style="padding: 24px;background-color: var(--color-teal-25)">
        <div style="display:grid;grid-template-columns: 1fr; gap: 25px;">
          <div>
            {% set details = [
              { 'title': 'Tag', 'url': 'https://example.com' },
              { 'title': 'Second Tag', 'url': 'https://example.com' },
              { 'title': 'Tag 3', 'url': 'https://example.com' }
            ] %}
            {{ details.detail('tags', false, details) }}

            {{ details.detail('location', false, 'Oklahoma City, OK') }}

            {{ details.detail('region', false, 'Midwest, Northeast') }}

            {% set bylineDetails = [
              { 'img': 'Tag', 'name': 'Tyler N. Ford' },
              { 'img': 'Second Tag', 'name': 'First M Last' }
            ] %}
            {{ details.detail('byline', false, bylineDetails) }}

            {{ details.detail('job-title', false, 'Web Developer') }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'button', isReversed: false,
              icon: 'linkType', iconOnly: false,
              text: 'Entry Action', url: 'url',
              linkType: 'entry', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'button', isReversed: false,
              icon: 'linkType', iconOnly: false,
              text: 'URL Action', url: 'url',
              linkType: 'url', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'button', isReversed: false,
              icon: 'linkType', iconOnly: false,
              text: 'Asset Action', url: 'url',
              linkType: 'asset', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'button', isReversed: false,
              icon: false, iconOnly: false,
              text: 'No Icon Action', url: 'url',
              linkType: 'asset', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'button', isReversed: false,
              icon: 'linkType', iconOnly: true,
              text: 'Icon Only Action', url: 'url',
              linkType: 'entry', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'link', isReversed: false,
              icon: 'linkType', iconOnly: false,
              text: 'Entry Action', url: 'url',
              linkType: 'entry', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'link', isReversed: false,
              icon: 'linkType', iconOnly: false,
              text: 'URL Action', url: 'url',
              linkType: 'url', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'link', isReversed: false,
              icon: 'linkType', iconOnly: false,
              text: 'Asset Action', url: 'url',
              linkType: 'asset', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'link', isReversed: false,
              icon: false, iconOnly: false,
              text: 'No Icon Action', url: 'url',
              linkType: 'asset', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'link', isReversed: false,
              icon: 'linkType', iconOnly: true,
              text: 'Icon Only Action', url: 'url',
              linkType: 'entry', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>
        </div>
      </div>

      <div style="padding: 24px;background-color: var(--color-teal-150)">
        <div style="display:grid;grid-template-columns: 1fr; gap: 25px;">
        <div>
            {% set details = [
              { 'title': 'Tag', 'url': 'https://example.com' },
              { 'title': 'Second Tag', 'url': 'https://example.com' },
              { 'title': 'Tag 3', 'url': 'https://example.com' }
            ] %}
            {{ details.detail('tags', true, details) }}

            {{ details.detail('location', true, 'Oklahoma City, OK') }}

            {{ details.detail('region', true, 'Midwest, Northeast') }}

            {% set bylineDetails = [
              { 'img': 'Tag', 'name': 'Tyler N. Ford' },
              { 'img': 'Second Tag', 'name': 'First M Last' }
            ] %}
            {{ details.detail('byline', true, bylineDetails) }}

            {{ details.detail('job-title', true, 'Web Developer') }}
          </div>

        <div>
            {% set actionAttributes = {
              type: 'button', isReversed: true,
              icon: 'linkType', iconOnly: false,
              text: 'Entry Action', url: 'url',
              linkType: 'entry', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'button', isReversed: true,
              icon: 'linkType', iconOnly: false,
              text: 'URL Action', url: 'url',
              linkType: 'url', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'button', isReversed: true,
              icon: 'linkType', iconOnly: false,
              text: 'Asset Action', url: 'url',
              linkType: 'asset', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'button', isReversed: true,
              icon: false, iconOnly: false,
              text: 'No Icon Action', url: 'url',
              linkType: 'asset', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'button', isReversed: true,
              icon: 'linkType', iconOnly: true,
              text: 'Icon Only Action', url: 'url',
              linkType: 'entry', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'link', isReversed: true,
              icon: 'linkType', iconOnly: false,
              text: 'Entry Action', url: 'url',
              linkType: 'entry', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'link', isReversed: true,
              icon: 'linkType', iconOnly: false,
              text: 'URL Action', url: 'url',
              linkType: 'url', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'link', isReversed: true,
              icon: 'linkType', iconOnly: false,
              text: 'Asset Action', url: 'url',
              linkType: 'asset', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'link', isReversed: true,
              icon: false, iconOnly: false,
              text: 'No Icon Action', url: 'url',
              linkType: 'asset', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>

          <div>
            {% set actionAttributes = {
              type: 'link', isReversed: true,
              icon: 'linkType', iconOnly: true,
              text: 'Icon Only Action', url: 'url',
              linkType: 'entry', target: ''
            } %}

            {{ actions.action(actionAttributes) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}