{% import '_macros/01_elements/_section-title' as sectionTitles %}
{% import '_macros/02_components/_card' as cards %}

{% set page = page ?? 1 %}

{% set filterParameters = relatedTo %}

{# ---  Set order by  --- #}
{% set sort = sort ?? 'desc' %}
{% set orderBy =
  sort == 'asc' ? 'postDate ASC' :
  'postDate DESC'
%}
{# ---  Sort  --- #}
{% set sortFilters = [
  { value: 'desc', label: 'Most Recent First'},
  { value: 'asc', label: 'Oldest First'},
] %}

{% do sprig.pushUrl('?' ~ {sort:sort}|url_encode) %}

{% set feedQuery = craft.entries().section(section).relatedTo(filterParameters).orderBy(orderBy) %}
{% set limit = feedQuery|length > 12 ? 6 : 3 %}
{% set showSort = feedQuery|length > 6 ? true : false %}
{% set feedQuery = feedQuery.limit(limit) %}

{# Paginates the entry query given the current page #}
{% set pageInfo = sprig.paginate(feedQuery, page) %}
{% set feed = pageInfo.pageResults %}

{% if feed %}
  <section class="related-content">
    {# Section Title #}
    {% set sectionTitleAttributes = {
      level: 'h2',
      title: title,
      variant: 'small', border: true
    } %}
    {{ sectionTitles.sectionTitle(sectionTitleAttributes) }}

    {% if showSort == true %}
      <div class="feed-filters" data-variant="simple">
        {% include '_partials/_filtering/_sort-by' with {
          dropdownTitle: 'Sort By',
          dropdownFiltersHandle: 'sort',
          defaultFilters: sortFilters,
          dropdownFiltersActive: sort
        } %}
      </div>
    {% endif %}

    <div class="feed">
      <div class="feed__grid" data-grid-style="grid" data-columns="3">
        {% for feedItem in feed %}
          {% if feedItem.type == 'newsPost' %}
            {{ cards.news(feedItem) }}
          {% else %}
            {{ cards.post(feedItem) }}
          {% endif %}
        {% endfor %}
      </div>
    </div>

    {% include '_partials/_filtering/_pagination' %}
  </section>
{% endif %}