/* 03_wireframe/_nav.scss */
@use "../utils/_utils" as *;


// TODO: implement JS for mega drop
.navPrimary {
    $nav: &;
    display: flex;
    align-items: center;
    padding: 2em 2em 1em 2em;
    position: relative;
    background: var(--color-grey-100);
    z-index: 10;

    &-home {
        &:link,
        &:visited,
        &:active,
        &:hover {
            color: var(--color-grey-200);
        }

        text-decoration: none;
    }

    &-mega {
        display: flex;
        margin-left: auto;

        &-tab {
            margin: 1em;

            @media (hover: hover) {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        &-label {
            display: inline-flex;
            text-transform: uppercase;
            text-decoration: underline;
            text-decoration-color: transparent;
            text-underline-offset: 20px;
            text-decoration-thickness: 16px;

            @media (hover: hover) {
                #{$nav}-mega-tab:hover & {
                    text-decoration-color: var(--color-grey-200);
                }
            }
        }
        
        &-shim {
            height: 3em;
            width: 100%;
            position: absolute;
            left: 0;
            top: 100%;
        }

        &-overlay {
            @include visuallyHide;
            background: var(--color-grey-200);

            > * {
                flex: 0 1 50%;
            }

            @media (hover: hover) {
                #{$nav}-mega-tab:hover & {
                    @include visuallyShow;
                    display: flex;
                    padding: 2em;
                    left: 0;
                    position: absolute;
                    top: 100%;
                    width: 100dvw;
                }
            }
        }

    }

    &-description {
        color: var(--color-grey-25);
    }

    &-menu {

        &-item {
            padding: 1em 0;
        }
        
        a {
            color: var(--color-grey-25);
        }
    }


}