{# _assets.html #}

{#  supportsWebp: 
    See https://imager-x.spacecat.ninja/usage/webp-avif-jpegxl.html#installing-an-encoder 
#}
{% macro supportsWebp() %}
    {{ craft.imager.clientSupports('webp') }}
{% endmacro %}

{#  transformedImage: 
    Assumes ImagerX plugin is installed; 
    see config/imager-x-transforms.php for image definitions

    @param {obj} $image  - image object
    @param {obj} $obj    - wildcard storage (optional)

    Optional Example $obj:
    {% set obj = {
        'handle': '' // see imager-x-transforms.php for available handles
        'variant': '',
        'lazy': false
    }%}

    Example Template Usage:
    {% set image = myBlock.image|length and myBlock.image.one() is not null ? myBlock.image.one() : null %}
    {% set obj = 'myImageContainer', {'hook': 'myBlock', 'variant': 'full-width', 'handle': 'myTransformHandle'} %}
    {% if image %}
        {{ assets.transformedImage(image,obj) }}
    {% endif %}

#}
{% macro transformedImage(image,obj = null) %}

{# Set defaults #}
{% set handle, color = 'defaultImage', '#CCC' %}
{% set hook, variant, lazy, transforms = null, null, null, null %}

{# Check for wildcards #}
{% set keys = obj is not null ? obj|keys : null %}
{% if keys %}
    {% set handle  = ('handle' in obj|keys) ? obj['handle'] : handle %}
    {% set hook    = ('hook' in obj|keys) ? obj['hook'] : null %}
    {% set variant = ('variant' in obj|keys) ? obj['variant'] : null %}
    {% set lazy    = ('lazy' in obj|keys) ? obj['lazy'] : null %}
    {% set color   = ('color' in obj|keys) ? obj['color'] : color %}
{% endif %}
{# Create transform and webp images, if possible #}
{% set transformKey = _self.supportsWebp() ? "#{handle}-webp" : handle %}
{% set transforms   = craft.imagerx.transformImage(image,transformKey) %} 
{% set placeholder  = craft.imager.placeholder({ width: 16, height: 16, color: color }) %}

<picture 
    class="{{ hook }}-asset{% if variant %} {{ hook }}-asset--{{ variant }}{% endif %}" 
    style="--bg-color: {{ color }}">
    <img 
        class="{{ hook }}-asset-image"
        src="{{ placeholder }}" 
        height="100%"
        width="100%"
        sizes="100vw" 
        {% if transforms %}
        srcset="{{ transforms | srcset }}"
        {% endif %}
        {% if lazy %}
        loading="lazy"
        {% endif %}
        alt="{{ image.assetAlt ?? image.textCaption ?? null }}"> 
</picture>
{% endmacro %}
