{# =======================================
  Macro: Quote Component
==========================================
  Params:
    - quote (required)
======================================= #}

{% macro quote(quote, attribution) %}
  {% import '_macros/01_elements/_details' as details %}
  {% import '_macros/01_elements/_image' as images %}

  <blockquote class="quote">
    <div class="quote__inner">
      {# Quote #}
      <div class="quote__quotation">
        {{ quote }}
      </div>

      {# Details #}
      {% if attribution.person|length %}
        <footer class="quote__attribution">
          {# Person #}
          {{ details.detail('byline', false, attribution.person) }}

          {# Title #}
          {% if attribution.title %}
            <span class="attribution__secondary">{{ attribution.title }}</span>
          {% endif %}

          {# Organisation #}
          {% if attribution.org %}
            <span class="attribution__secondary">{{ attribution.org }}</span>
          {% endif %}
        </footer>
      {% endif %}
    </div>
  </blockquote>
{% endmacro %}