{# _macros/02_components/_text.twig #}

{% macro default(config) %}
{% set variant = 'variant' in config|keys ? config.variant : '' %}
{% set content = 'content' in config|keys ? config.content : null %}

{% switch variant %}

    {% case 'body' %}
    {% set bodyList = content.blockBody.all() %}
    <div class="blockGeneric">
        <h2 class="blockGeneric-heading">This is my body text</h2>
        {% for item in bodyList %}
            {% set type = item.type %}
            {% switch type %}
                {% case 'heading' %}
                {% set body = item.body %}

                {% case 'intro' %}
                {% set body = item.body %}

                {% case 'paragraph' %}
                {% set body = item.body %}
                
                {% case 'media' %}
                {% set asset = item.assetWildcard.all() %}
                {% set width = item.styleWidth %}

            {% endswitch %}

        {% endfor %}
    </div>

    {% case 'accordion' %}
    {% set heading  = content.textHeading %}
    {% set accordion = content.blockAccordion.all() %}
    <div class="blockGeneric">
        <h2 class="blockGeneric-heading">This is my accordion text</h2>
        {% for panel in accordion %}
            {% set panelHeading = panel.heading %}
            {% set panelBody    = panel.body %}
            {% set panelAction  = panel.actionLink %}
            <div>
                This is my panel, {{ panelHeading }}
            </div>
        {% endfor %}
    </div>

    {% default %}

    <div class="blockGeneric">
        <h2 class="blockGeneric-heading">This is my default text</h2>
    </div>

{% endswitch %}
{% endmacro %}